flows/user-data/.nr-flows.json.backup
[{"id":"89066d97.b7fb6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8682e203.b2dea","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/AngularUserDetails","name":"db","options":"","parallelism":"-1"},{"id":"9b2b08c9.cd5148","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/AngularUserDetails","name":"mongodb ","options":"","parallelism":"-1"},{"id":"4b91b6ac.116938","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":40,"wires":[]},{"id":"8141e2bc.51e47","type":"http in","z":"89066d97.b7fb6","name":"save partner data","url":"/addpartnerdata","method":"post","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["e9f730fb.f3247"]]},{"id":"7ddd356e.9c2b2c","type":"http response","z":"89066d97.b7fb6","name":"addpartner","statusCode":"","headers":{},"x":1010,"y":140,"wires":[]},{"id":"79ccf90b.26d418","type":"http in","z":"89066d97.b7fb6","name":"Login Partner ","url":"/Loginpartner","method":"get","upload":false,"swaggerDoc":"","x":90,"y":240,"wires":[["dbb1c8b6.583738"]]},{"id":"b432d960.91fb48","type":"http response","z":"89066d97.b7fb6","name":"partner data","statusCode":"","headers":{},"x":1190,"y":300,"wires":[]},{"id":"d0a3743a.e9c188","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":240,"wires":[]},{"id":"bf5addb7.d72a4","type":"comment","z":"89066d97.b7fb6","name":"database collection information","info":"The collection is named LicensePlate. \nEach document format is :\n```JavaScript\n{\n    \"_id\": ObjectID(\"585a4732ac11400192a60b85\"),\n    \"nom\": \"riotte\",\n    \"prenom\": \"françois\",\n    \"immatriculation\": \"123456\",\n    \"heure\": \"13\",\n    \"minute\": \"30\"\n}\n```","x":1850,"y":1560,"wires":[]},{"id":"9f5f914e.9bf5b","type":"http in","z":"89066d97.b7fb6","name":"","url":"/update","method":"put","upload":false,"swaggerDoc":"","x":1000,"y":2760,"wires":[["6c1ba11.361796"]]},{"id":"48bc98e2.294728","type":"http response","z":"89066d97.b7fb6","name":"","x":2510,"y":2700,"wires":[]},{"id":"46634923.b9f388","type":"function","z":"89066d97.b7fb6","name":"update request","func":"\nmsg.result=msg.req.body;\ndelete msg.req.body._id;\nmsg.payload=[\n   msg.payload,\n   msg.req.body\n    ];\nreturn msg;\n\n","outputs":"1","noerr":0,"x":1700,"y":2700,"wires":[["c77a7988.5a7048"]]},{"id":"6c1ba11.361796","type":"function","z":"89066d97.b7fb6","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2740,"wires":[["49bbb7d9.37d608"]]},{"id":"cd0cbb1b.8fc438","type":"http in","z":"89066d97.b7fb6","name":"","url":"/plates","method":"get","swaggerDoc":"","x":1020,"y":2660,"wires":[["a14268f7.452da8"]]},{"id":"ad5b40cd.7eece","type":"http response","z":"89066d97.b7fb6","name":"","x":2110,"y":2580,"wires":[]},{"id":"6a12da15.2010a4","type":"function","z":"89066d97.b7fb6","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":2270,"y":2620,"wires":[["48bc98e2.294728","a6527c98.a2e2"]]},{"id":"c6d9ce03.5994f","type":"http response","z":"89066d97.b7fb6","name":"","x":2250,"y":2780,"wires":[]},{"id":"49dfcdca.df3f44","type":"http in","z":"89066d97.b7fb6","name":"","url":"/insert","method":"post","swaggerDoc":"","x":1000,"y":2820,"wires":[["64c739d.58228c8"]]},{"id":"2aa531c.55842ce","type":"function","z":"89066d97.b7fb6","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":2800,"wires":[["c6d9ce03.5994f"]]},{"id":"cac97303.aec76","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2570,"y":2560,"wires":[]},{"id":"64c739d.58228c8","type":"json","z":"89066d97.b7fb6","name":"","property":"payload","action":"obj","pretty":false,"x":1350,"y":2800,"wires":[["f4c0a744.5cdd08"]]},{"id":"ec3ae041.92d25","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2230,"y":2700,"wires":[]},{"id":"a6527c98.a2e2","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2530,"y":2600,"wires":[]},{"id":"926d1bb0.78d7c8","type":"http in","z":"89066d97.b7fb6","name":"partner list","url":"/getpartnerdata","method":"get","upload":false,"swaggerDoc":"","x":80,"y":380,"wires":[["13f0d6f5.fd4ac9"]]},{"id":"728ba28d.f7338c","type":"http response","z":"89066d97.b7fb6","name":"partner data","statusCode":"","headers":{},"x":1190,"y":440,"wires":[]},{"id":"c088d441.1bb148","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":380,"wires":[]},{"id":"ce3c48f8.b091b8","type":"http in","z":"89066d97.b7fb6","name":"get leads data","url":"/getleadsdata","method":"get","upload":false,"swaggerDoc":"","x":150,"y":2000,"wires":[["7524e74d.4b8ff8"]]},{"id":"4e819c81.1b8d04","type":"http in","z":"89066d97.b7fb6","name":"delete partner data","url":"/deletepartner","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":1420,"wires":[["d7698aaf.d0d3a8"]]},{"id":"d7698aaf.d0d3a8","type":"function","z":"89066d97.b7fb6","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1420,"wires":[["1ac7bf08.aaca11"]]},{"id":"6742c9fd.ede358","type":"http response","z":"89066d97.b7fb6","name":"delete partner","statusCode":"","headers":{},"x":1120,"y":1480,"wires":[]},{"id":"9075d841.2d1058","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1380,"wires":[]},{"id":"3cb8c197.e29e5e","type":"http in","z":"89066d97.b7fb6","name":"delete channel members","url":"/deletechanneM","method":"delete","upload":false,"swaggerDoc":"","x":190,"y":1240,"wires":[["ea6fd08d.5ace9"]]},{"id":"ea6fd08d.5ace9","type":"function","z":"89066d97.b7fb6","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1240,"wires":[["eb7f0f70.1add1"]]},{"id":"c732a624.048628","type":"http response","z":"89066d97.b7fb6","name":"delete channel","statusCode":"","headers":{},"x":1120,"y":1280,"wires":[]},{"id":"c432bbd3.1b8508","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1200,"wires":[]},{"id":"593bdcb5.1e4604","type":"http in","z":"89066d97.b7fb6","name":"save leads data","url":"/saveleadsdata","method":"post","upload":false,"swaggerDoc":"","x":160,"y":1580,"wires":[["30dcbb24.9a37d4"]]},{"id":"a9967469.9524b8","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":1540,"wires":[]},{"id":"6ad46b35.88a2b4","type":"http response","z":"89066d97.b7fb6","name":"leads data","statusCode":"","headers":{},"x":1130,"y":1620,"wires":[]},{"id":"cfe7ac19.7bbe4","type":"http in","z":"89066d97.b7fb6","name":"developers data ","url":"/savedeveloperdata","method":"post","upload":false,"swaggerDoc":"","x":160,"y":1700,"wires":[["e3986f81.848f2"]]},{"id":"e300688c.84f9a8","type":"http response","z":"89066d97.b7fb6","name":"developers data","statusCode":"","headers":{},"x":1160,"y":1740,"wires":[]},{"id":"f1f647ba.313478","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":1680,"wires":[]},{"id":"4fd0d99e.e2b9c8","type":"http in","z":"89066d97.b7fb6","name":"delete leads data","url":"/deleteleads","method":"delete","upload":false,"swaggerDoc":"","x":160,"y":1840,"wires":[["cd45bd10.a50ab"]]},{"id":"cd45bd10.a50ab","type":"function","z":"89066d97.b7fb6","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1840,"wires":[["1c44abdc.dc81e4"]]},{"id":"edfd82de.e350d","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1800,"wires":[]},{"id":"69483a94.76e234","type":"http response","z":"89066d97.b7fb6","name":"delete lead","statusCode":"","headers":{},"x":1130,"y":1880,"wires":[]},{"id":"91358c2b.6fb6b","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":1960,"wires":[]},{"id":"acadb0a9.f4466","type":"http response","z":"89066d97.b7fb6","name":"get leads","statusCode":"","headers":{},"x":1140,"y":2040,"wires":[]},{"id":"a03c813b.a90a3","type":"http in","z":"89066d97.b7fb6","name":"get developers data ","url":"/getdevelopers","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2120,"wires":[["298d757f.39e06a"]]},{"id":"32bc220.72c00de","type":"http response","z":"89066d97.b7fb6","name":"developers data","statusCode":"","headers":{},"x":1160,"y":2160,"wires":[]},{"id":"63535781.2536f8","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":2100,"wires":[]},{"id":"cbdf1157.838ac","type":"http response","z":"89066d97.b7fb6","name":"channel data","statusCode":"","headers":{},"x":1130,"y":920,"wires":[]},{"id":"6aab6984.e44ad8","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":840,"wires":[]},{"id":"92a11668.17db08","type":"http in","z":"89066d97.b7fb6","name":"Save channel data","url":"/channeldata","method":"post","upload":false,"swaggerDoc":"","x":90,"y":860,"wires":[["fc8aa540.49a7a8"]]},{"id":"af4294ae.e1ec38","type":"http in","z":"89066d97.b7fb6","name":"get perticular Partner ","url":"/getPerticularPartner","method":"get","upload":false,"swaggerDoc":"","x":120,"y":560,"wires":[["75c4b28e.10318c"]]},{"id":"a6432337.9b3b2","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":520,"wires":[]},{"id":"95457338.f43aa","type":"http response","z":"89066d97.b7fb6","name":"get partner data ","statusCode":"","headers":{},"x":1220,"y":620,"wires":[]},{"id":"75c4b28e.10318c","type":"function","z":"89066d97.b7fb6","name":"Extract id","func":"msg._id= msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":560,"wires":[["5cb08b57.b9f834"]]},{"id":"beaae6bc.9803b8","type":"http in","z":"89066d97.b7fb6","name":"Login member","url":"/LoginMember","method":"get","upload":false,"swaggerDoc":"","x":90,"y":720,"wires":[["2b68ded8.0e5382"]]},{"id":"6058ab57.0cdd44","type":"http response","z":"89066d97.b7fb6","name":"partner data","statusCode":"","headers":{},"x":1190,"y":780,"wires":[]},{"id":"9c6b9885.970878","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":720,"wires":[]},{"id":"465aa575.8d768c","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"LicencePlate","operation":"update","x":1970,"y":2680,"wires":[[]]},{"id":"a14268f7.452da8","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"find.toArray","x":1560,"y":2600,"wires":[["cac97303.aec76","ad5b40cd.7eece"]]},{"id":"f7aa2a21.6d7dd8","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"user","operation":"insert","x":1700,"y":2780,"wires":[["2aa531c.55842ce"]]},{"id":"f4c0a744.5cdd08","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"save","x":1560,"y":2740,"wires":[["c6d9ce03.5994f","ec3ae041.92d25"]]},{"id":"c77a7988.5a7048","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"update","x":1960,"y":2620,"wires":[["6a12da15.2010a4"]]},{"id":"fd46bb9d.fbb2b8","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"deleteOne","x":750,"y":1420,"wires":[["6742c9fd.ede358","9075d841.2d1058"]]},{"id":"695f4ca7.5dc7d4","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"ChannelMember","operation":"deleteOne","x":790,"y":1240,"wires":[["c732a624.048628","c432bbd3.1b8508"]]},{"id":"e9f730fb.f3247","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"save","x":560,"y":60,"wires":[["4b91b6ac.116938","7ddd356e.9c2b2c"]]},{"id":"dbb1c8b6.583738","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":680,"y":240,"wires":[["d0a3743a.e9c188","b432d960.91fb48"]]},{"id":"13f0d6f5.fd4ac9","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":680,"y":380,"wires":[["c088d441.1bb148","728ba28d.f7338c"]]},{"id":"30dcbb24.9a37d4","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"save","x":680,"y":1580,"wires":[["a9967469.9524b8","6ad46b35.88a2b4"]]},{"id":"e3986f81.848f2","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"save","x":650,"y":1700,"wires":[["f1f647ba.313478","e300688c.84f9a8"]]},{"id":"7524e74d.4b8ff8","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"find.toArray","x":640,"y":2000,"wires":[["91358c2b.6fb6b","acadb0a9.f4466"]]},{"id":"298d757f.39e06a","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"find.toArray","x":670,"y":2120,"wires":[["63535781.2536f8","32bc220.72c00de"]]},{"id":"fc8aa540.49a7a8","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"ChannelMember","operation":"save","x":510,"y":860,"wires":[["6aab6984.e44ad8","cbdf1157.838ac"]]},{"id":"7565a141.4ed1e","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"findOne","x":630,"y":560,"wires":[["a6432337.9b3b2","95457338.f43aa"]]},{"id":"d09e8cb3.12fa2","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"channelmember ","operation":"find.toArray","x":710,"y":720,"wires":[[]]},{"id":"49bbb7d9.37d608","type":"objectid","z":"89066d97.b7fb6","name":"","selectedProperty":"_id","x":1410,"y":2700,"wires":[["46634923.b9f388"]]},{"id":"1ac7bf08.aaca11","type":"objectid","z":"89066d97.b7fb6","name":"","selectedProperty":"_id","x":570,"y":1420,"wires":[["fd46bb9d.fbb2b8"]]},{"id":"eb7f0f70.1add1","type":"objectid","z":"89066d97.b7fb6","name":"","selectedProperty":"_id","x":570,"y":1240,"wires":[["695f4ca7.5dc7d4"]]},{"id":"1c44abdc.dc81e4","type":"objectid","z":"89066d97.b7fb6","name":"","selectedProperty":"_id","x":570,"y":1840,"wires":[["59fe665c.f21208"]]},{"id":"5cb08b57.b9f834","type":"objectid","z":"89066d97.b7fb6","name":"","selectedProperty":"_id","x":430,"y":560,"wires":[["7565a141.4ed1e"]]},{"id":"2b68ded8.0e5382","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"channelmember","operation":"find.toArray","x":710,"y":662.6000061035156,"wires":[["6058ab57.0cdd44","9c6b9885.970878"]]},{"id":"59fe665c.f21208","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"deleteOne","x":788.3333053588867,"y":1838.3332843780518,"wires":[["edfd82de.e350d","69483a94.76e234"]]},{"id":"33162e83.ce4872","type":"http in","z":"89066d97.b7fb6","name":"get perticular Partner ","url":"/getPerticularPartner","method":"get","upload":false,"swaggerDoc":"","x":135,"y":1061.6666259765625,"wires":[["28aa0509.1a0f4a"]]},{"id":"102376f6.85f329","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1195,"y":1021.6666259765625,"wires":[]},{"id":"bca8793f.7db928","type":"http response","z":"89066d97.b7fb6","name":"get partner data ","statusCode":"","headers":{},"x":1235,"y":1121.6666259765625,"wires":[]},{"id":"28aa0509.1a0f4a","type":"function","z":"89066d97.b7fb6","name":"Extract id","func":"msg._id= msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":1061.6666259765625,"wires":[["d4aa3d20.a8f4d"]]},{"id":"6c3ed5f1.0d88bc","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"findOne","x":645,"y":1061.6666259765625,"wires":[["102376f6.85f329","bca8793f.7db928"]]},{"id":"d4aa3d20.a8f4d","type":"objectid","z":"89066d97.b7fb6","name":"","selectedProperty":"_id","x":445,"y":1061.6666259765625,"wires":[["6c3ed5f1.0d88bc"]]},{"id":"f1397493.6a46f8","type":"http in","z":"89066d97.b7fb6","name":"","url":"/usersadd","method":"post","upload":false,"swaggerDoc":"","x":220.83333333333331,"y":3061.666666666666,"wires":[["cdf7abd0.fbe978"]]},{"id":"cdf7abd0.fbe978","type":"function","z":"89066d97.b7fb6","name":"","func":"msg.body = msg.payload.body\nreturn msg;","outputs":1,"noerr":0,"x":327.50000762939453,"y":3131.6665449142456,"wires":[["8a8588ea.dcff38"]]},{"id":"aef44124.c60c2","type":"http response","z":"89066d97.b7fb6","name":"","statusCode":"","headers":{},"x":714.1666666666665,"y":3158.333333333333,"wires":[]},{"id":"51427465.321bfc","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":689.1666666666665,"y":3028.333333333333,"wires":[]},{"id":"8a8588ea.dcff38","type":"http request","z":"89066d97.b7fb6","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/createRole","tls":"","proxy":"","authType":"","x":512.5000228881836,"y":3128.3334522247314,"wires":[["51427465.321bfc","aef44124.c60c2"]]},{"id":"acc11eee.605e2","type":"http request","z":"89066d97.b7fb6","name":"","method":"DELETE","ret":"obj","paytoqs":false,"url":"http://localhost:3000/deleteOne","tls":"","proxy":"","authType":"","x":642.4999847412109,"y":3351.666799545288,"wires":[["299a6a7e.bf5f66","45e6d8e8.c15758"]]},{"id":"f112853.9c49878","type":"http in","z":"89066d97.b7fb6","name":"","url":"/deleteOne","method":"delete","upload":false,"swaggerDoc":"","x":224.16665649414062,"y":3354.999807357788,"wires":[["187f3578.46250b"]]},{"id":"187f3578.46250b","type":"function","z":"89066d97.b7fb6","name":"","func":"msg.body = msg.payload.body\nreturn msg;","outputs":1,"noerr":0,"x":439.16666412353516,"y":3356.6666374206543,"wires":[["acc11eee.605e2"]]},{"id":"299a6a7e.bf5f66","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":904.9999999999999,"y":3306.666666666666,"wires":[]},{"id":"45e6d8e8.c15758","type":"http response","z":"89066d97.b7fb6","name":"","statusCode":"","headers":{},"x":904.9999999999999,"y":3408.333333333333,"wires":[]},{"id":"1cad92e2.857f1d","type":"http in","z":"89066d97.b7fb6","name":"","url":"/email","method":"post","upload":false,"swaggerDoc":"","x":113,"y":151,"wires":[["e5eab779.5db8e8"]]},{"id":"e5eab779.5db8e8","type":"function","z":"89066d97.b7fb6","name":"","func":"msg.topic=\"Message From \"+msg.req.body.firstname;\nfullname=msg.req.body.firstname+\" \"+msg.req.body.lastname;\ncompanyname=msg.req.body.companyname;\nemail=msg.req.body.companyemail;\njobrole=msg.req.body.jobroles;\nindustry=msg.req.body.industryname;\nmobile=msg.req.body.mobilenumber;\nsize=msg.req.body.compsize;\ncountry=msg.req.body.countryname;\nmessage=msg.req.body.message;\n\nmsg.payload=\"Full Name: \"+fullname+\"<br>Company Name: \"+companyname+\"<br>Email: \"+email+\"<br>Role: \"+jobrole+\"<br>Industry: \"+industry+\"<br>Mobile Number: \"+mobile+\"<br>Country: \"+country+\"<br>Company Size: \"+size+\"<br>Feedback: \"+message;\n\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":157.00000190734863,"wires":[["8db888ea.71eb48","6d80bc0c.37ee64"]]},{"id":"8db888ea.71eb48","type":"e-mail","z":"89066d97.b7fb6","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"niteshd30@gmail.com","dname":"","x":615.0000076293945,"y":139.00000190734863,"wires":[]},{"id":"6d80bc0c.37ee64","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":611.0000076293945,"y":187.00000190734863,"wires":[]},{"id":"ecb02bc6.7a0fc8","type":"http in","z":"89066d97.b7fb6","name":"delete leads data","url":"/deletedeveloper","method":"delete","upload":false,"swaggerDoc":"","x":175,"y":2255,"wires":[["4d97e5f3.4a009c"]]},{"id":"4d97e5f3.4a009c","type":"function","z":"89066d97.b7fb6","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":2255,"wires":[["c0b1bf58.95d1e"]]},{"id":"f2fe5ca7.c085c","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1105,"y":2215,"wires":[]},{"id":"9e649442.7c8098","type":"http response","z":"89066d97.b7fb6","name":"delete lead","statusCode":"","headers":{},"x":1145,"y":2295,"wires":[]},{"id":"c0b1bf58.95d1e","type":"objectid","z":"89066d97.b7fb6","name":"","selectedProperty":"_id","x":585,"y":2255,"wires":[["335190db.d5d7a"]]},{"id":"335190db.d5d7a","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"deleteOne","x":813.3333053588867,"y":2253.3332843780518,"wires":[["f2fe5ca7.c085c","9e649442.7c8098"]]},{"id":"f1f2e6a2.979e98","type":"http in","z":"89066d97.b7fb6","name":"login","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":170,"y":3656.66650390625,"wires":[["faf24fd2.71993"]]},{"id":"1237c0e1.33bb9f","type":"http response","z":"89066d97.b7fb6","name":"","statusCode":"","headers":{},"x":880,"y":3696.66650390625,"wires":[]},{"id":"1bdd37f1.14e368","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":3616.66650390625,"wires":[]},{"id":"8193404.df768c","type":"http in","z":"89066d97.b7fb6","name":"","url":"/process_login","method":"post","upload":false,"swaggerDoc":"","x":200,"y":3776.66650390625,"wires":[[]]},{"id":"faf24fd2.71993","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":510,"y":3656.66650390625,"wires":[["1237c0e1.33bb9f","1bdd37f1.14e368"]]}]