flows/user-data/.nr-flows.json.backup
[{"id":"5807cffb.d10fb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e381a433.b887f8","type":"tab","label":"Login & Register Partner","disabled":false,"info":""},{"id":"97cc9e61.50ca2","type":"tab","label":"Partner","disabled":false,"info":""},{"id":"6b332ce0.98e414","type":"tab","label":"Channel","disabled":false,"info":""},{"id":"33b1292e.507796","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9c3982b3.a1aa2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b21e649e.a3ab08","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b2fcd4da.47ff68","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"48fb0eed.e72ff","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"a6093058.1b37c","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"e3473df1.27c86","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"859239ea.3a8878","type":"JsonWebToken_config","z":0,"name":"Secret","secret":"NeutrinosPortal"},{"id":"8682e203.b2dea","type":"mongodb2","z":0,"uri":"mongodb://localhost:27017/PartnerDb","name":"db","options":"","parallelism":"-1"},{"id":"9b2b08c9.cd5148","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/PartnerDb","name":"mongodb ","options":"","parallelism":"-1"},{"id":"9a1611d6.9b502","type":"JsonWebToken_config","z":"","name":"secrect","secret":"sample"},{"id":"fda4061a.9b1778","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":40,"wires":[]},{"id":"da6433e0.18771","type":"http in","z":"5807cffb.d10fb","name":"save partner data","url":"/addpartnerdata","method":"post","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["e82590c4.f26d8"]]},{"id":"37e97de6.f587d2","type":"http response","z":"5807cffb.d10fb","name":"addpartner","statusCode":"","headers":{},"x":1010,"y":140,"wires":[]},{"id":"fdeeb12f.a6f94","type":"http in","z":"5807cffb.d10fb","name":"Login Partner ","url":"/Loginpartner","method":"get","upload":false,"swaggerDoc":"","x":90,"y":240,"wires":[["754c23f4.ef985c"]]},{"id":"691957ac.068928","type":"http response","z":"5807cffb.d10fb","name":"partner data","statusCode":"","headers":{},"x":1190,"y":300,"wires":[]},{"id":"b8eb299e.0ba448","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":240,"wires":[]},{"id":"ba6fcd49.dafe7","type":"comment","z":"5807cffb.d10fb","name":"database collection information","info":"The collection is named LicensePlate. \nEach document format is :\n```JavaScript\n{\n    \"_id\": ObjectID(\"585a4732ac11400192a60b85\"),\n    \"nom\": \"riotte\",\n    \"prenom\": \"françois\",\n    \"immatriculation\": \"123456\",\n    \"heure\": \"13\",\n    \"minute\": \"30\"\n}\n```","x":1850,"y":1560,"wires":[]},{"id":"d6f285db.9d7a38","type":"http in","z":"5807cffb.d10fb","name":"partner list","url":"/getpartnerdata","method":"get","upload":false,"swaggerDoc":"","x":80,"y":380,"wires":[["c4adf6a1.f30ac8"]]},{"id":"7742d247.415d0c","type":"http response","z":"5807cffb.d10fb","name":"partner data","statusCode":"","headers":{},"x":1190,"y":440,"wires":[]},{"id":"e334b285.2637","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":380,"wires":[]},{"id":"840b58d4.ed3bd8","type":"http in","z":"5807cffb.d10fb","name":"get leads data","url":"/getleadsdata","method":"get","upload":false,"swaggerDoc":"","x":150,"y":2000,"wires":[["bf842767.d66cb8"]]},{"id":"87308780.332618","type":"http in","z":"5807cffb.d10fb","name":"delete partner data","url":"/deletepartner","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":1420,"wires":[["e5c903cd.fff2b"]]},{"id":"e5c903cd.fff2b","type":"function","z":"5807cffb.d10fb","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1420,"wires":[["1f781efb.e3ddf1"]]},{"id":"7ba20f02.ab3cc","type":"http response","z":"5807cffb.d10fb","name":"delete partner","statusCode":"","headers":{},"x":1120,"y":1480,"wires":[]},{"id":"a65457c9.032698","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1380,"wires":[]},{"id":"8074e43f.83fc48","type":"http in","z":"5807cffb.d10fb","name":"delete channel members","url":"/deletechanneM","method":"delete","upload":false,"swaggerDoc":"","x":190,"y":1240,"wires":[["ac8c85a.c608678"]]},{"id":"ac8c85a.c608678","type":"function","z":"5807cffb.d10fb","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1240,"wires":[["d8822ea4.a40d"]]},{"id":"96039e88.fc1f2","type":"http response","z":"5807cffb.d10fb","name":"delete channel","statusCode":"","headers":{},"x":1120,"y":1280,"wires":[]},{"id":"1f0d9587.84fcda","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1200,"wires":[]},{"id":"a62657e7.48eb28","type":"http in","z":"5807cffb.d10fb","name":"save leads data","url":"/saveleadsdata","method":"post","upload":false,"swaggerDoc":"","x":160,"y":1580,"wires":[["75c4c537.b9fbec"]]},{"id":"d6f8eedf.cfe71","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":1540,"wires":[]},{"id":"38abbc91.b1d024","type":"http response","z":"5807cffb.d10fb","name":"leads data","statusCode":"","headers":{},"x":1130,"y":1620,"wires":[]},{"id":"6ea419f.0d056e8","type":"http in","z":"5807cffb.d10fb","name":"developers data ","url":"/savedevelopers","method":"post","upload":false,"swaggerDoc":"","x":160,"y":1700,"wires":[["edb29941.cdd9f8"]]},{"id":"fafc979c.b8ccf8","type":"http response","z":"5807cffb.d10fb","name":"developers data","statusCode":"","headers":{},"x":1160,"y":1740,"wires":[]},{"id":"fd7a2402.db9e38","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":1680,"wires":[]},{"id":"47e3c481.8305fc","type":"http in","z":"5807cffb.d10fb","name":"delete leads data","url":"/deleteleads","method":"delete","upload":false,"swaggerDoc":"","x":160,"y":1840,"wires":[["90284a55.d3c6c8"]]},{"id":"90284a55.d3c6c8","type":"function","z":"5807cffb.d10fb","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1840,"wires":[["c6feaa22.a39fb8"]]},{"id":"65a8ec4a.bb6e74","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1800,"wires":[]},{"id":"1394c1e1.e1cefe","type":"http response","z":"5807cffb.d10fb","name":"delete lead","statusCode":"","headers":{},"x":1130,"y":1880,"wires":[]},{"id":"1fda18d4.ac42a7","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":1960,"wires":[]},{"id":"9666b06c.db59","type":"http response","z":"5807cffb.d10fb","name":"get leads","statusCode":"","headers":{},"x":1140,"y":2040,"wires":[]},{"id":"6270f00b.317bf","type":"http in","z":"5807cffb.d10fb","name":"get developers data ","url":"/getdevelopers","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2120,"wires":[["f15f85b1.88ad48"]]},{"id":"180e5f17.2ab7e1","type":"http response","z":"5807cffb.d10fb","name":"developers data","statusCode":"","headers":{},"x":1160,"y":2160,"wires":[]},{"id":"805045f4.dd5f58","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1120,"y":2100,"wires":[]},{"id":"1250a1a2.6799fe","type":"http response","z":"5807cffb.d10fb","name":"channel data","statusCode":"","headers":{},"x":1130,"y":920,"wires":[]},{"id":"ed7bf347.c5f6f","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":840,"wires":[]},{"id":"7f420d01.52fe84","type":"http in","z":"5807cffb.d10fb","name":"Save channel data","url":"/channelmemberregistration","method":"post","upload":false,"swaggerDoc":"","x":90,"y":860,"wires":[["f0ea7ec5.b6a88"]]},{"id":"5fb192fd.95dc0c","type":"http in","z":"5807cffb.d10fb","name":"get perticular Partner ","url":"/getPerticularPartner","method":"get","upload":false,"swaggerDoc":"","x":120,"y":560,"wires":[["9a48d842.993d28"]]},{"id":"cfc1c15b.f5df1","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":520,"wires":[]},{"id":"dcb16bea.48ab18","type":"http response","z":"5807cffb.d10fb","name":"get partner data ","statusCode":"","headers":{},"x":1220,"y":620,"wires":[]},{"id":"9a48d842.993d28","type":"function","z":"5807cffb.d10fb","name":"Extract id","func":"msg._id= msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":560,"wires":[["5d4f44a3.96a12c"]]},{"id":"3a5829dc.b5af66","type":"http in","z":"5807cffb.d10fb","name":"Login member","url":"/LoginMember","method":"get","upload":false,"swaggerDoc":"","x":90,"y":720,"wires":[["ab9c65c7.e80438"]]},{"id":"802c82d3.20616","type":"http response","z":"5807cffb.d10fb","name":"partner data","statusCode":"","headers":{},"x":1190,"y":780,"wires":[]},{"id":"67d067bb.e152e8","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":720,"wires":[]},{"id":"ac9ce568.41d328","type":"http in","z":"5807cffb.d10fb","name":"get perticular Partner ","url":"/getPerticularPartner","method":"get","upload":false,"swaggerDoc":"","x":135,"y":1061.6666259765625,"wires":[["10100aa0.5d8bd5"]]},{"id":"a5518364.0595c","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1195,"y":1021.6666259765625,"wires":[]},{"id":"faf76be6.791ae8","type":"http response","z":"5807cffb.d10fb","name":"get partner data ","statusCode":"","headers":{},"x":1235,"y":1121.6666259765625,"wires":[]},{"id":"10100aa0.5d8bd5","type":"function","z":"5807cffb.d10fb","name":"Extract id","func":"msg._id= msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":1061.6666259765625,"wires":[["90f0c0f6.9dea4"]]},{"id":"3c70f006.95fd","type":"http in","z":"5807cffb.d10fb","name":"","url":"/usersadd","method":"post","upload":false,"swaggerDoc":"","x":95,"y":3215.666892051697,"wires":[["33c82985.3257c6"]]},{"id":"33c82985.3257c6","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.body = msg.payload.body\nreturn msg;","outputs":1,"noerr":0,"x":287.50000762939453,"y":3216.6665506362915,"wires":[["699bff0d.8db06"]]},{"id":"b0e8bd33.53839","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":803.1667098999023,"y":3208.3333492279053,"wires":[]},{"id":"5f0893eb.26935c","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810.1667098999023,"y":3280.3333492279053,"wires":[]},{"id":"699bff0d.8db06","type":"http request","z":"5807cffb.d10fb","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/createRole","tls":"","proxy":"","authType":"","x":488.50006103515625,"y":3210.3337383270264,"wires":[["5f0893eb.26935c","b0e8bd33.53839"]]},{"id":"8f009e89.8a184","type":"http request","z":"5807cffb.d10fb","name":"","method":"DELETE","ret":"obj","paytoqs":false,"url":"http://localhost:3000/deleteOne","tls":"","proxy":"","authType":"","x":486.50000762939453,"y":3351.666895389557,"wires":[["1b845b5.3fd07a5","687ac4bb.b23b3c"]]},{"id":"3d2a2103.5ac6ee","type":"http in","z":"5807cffb.d10fb","name":"","url":"/deleteOne","method":"delete","upload":false,"swaggerDoc":"","x":107.1666488647461,"y":3351.999708175659,"wires":[["a3ee3223.e5bb3"]]},{"id":"a3ee3223.e5bb3","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.body = msg.payload.body\nreturn msg;","outputs":1,"noerr":0,"x":300.1666564941406,"y":3352.666895866394,"wires":[["8f009e89.8a184"]]},{"id":"1b845b5.3fd07a5","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":825.0000152587891,"y":3333.6668949127197,"wires":[]},{"id":"687ac4bb.b23b3c","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":812.0000114440918,"y":3391.3333024978638,"wires":[]},{"id":"6662df98.b8e49","type":"http in","z":"5807cffb.d10fb","name":"email","url":"/email","method":"post","upload":false,"swaggerDoc":"","x":83,"y":151,"wires":[["6fc78a1a.c05a04"]]},{"id":"6fc78a1a.c05a04","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.topic=\"Message From \"+msg.req.body.firstname;\nfullname=msg.req.body.firstname+\" \"+msg.req.body.lastname;\ncompanyname=msg.req.body.companyname;\nemail=msg.req.body.companyemail;\njobrole=msg.req.body.jobroles;\nindustry=msg.req.body.industryname;\nmobile=msg.req.body.mobilenumber;\nsize=msg.req.body.compsize;\ncountry=msg.req.body.countryname;\nmessage=msg.req.body.message;\n\nmsg.payload=\"Full Name: \"+fullname+\"<br>Company Name: \"+companyname+\"<br>Email: \"+email+\"<br>Role: \"+jobrole+\"<br>Industry: \"+industry+\"<br>Mobile Number: \"+mobile+\"<br>Country: \"+country+\"<br>Company Size: \"+size+\"<br>Feedback: \"+message;\n\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":157.00000190734863,"wires":[["3e898dfb.7728b2","3dff4725.1cac98"]]},{"id":"3e898dfb.7728b2","type":"e-mail","z":"5807cffb.d10fb","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"niteshd30@gmail.com","dname":"","x":615.0000076293945,"y":139.00000190734863,"wires":[]},{"id":"3dff4725.1cac98","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":611.0000076293945,"y":187.00000190734863,"wires":[]},{"id":"4f3b84f.1bf377c","type":"http in","z":"5807cffb.d10fb","name":"delete leads data","url":"/deletedeveloper","method":"delete","upload":false,"swaggerDoc":"","x":162,"y":2253.199951171875,"wires":[["297ced8f.3deac2"]]},{"id":"297ced8f.3deac2","type":"function","z":"5807cffb.d10fb","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":2253.199951171875,"wires":[["60998de7.0b0404"]]},{"id":"e48cdd92.22b05","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1092,"y":2213.199951171875,"wires":[]},{"id":"7720d776.29e278","type":"http response","z":"5807cffb.d10fb","name":"delete lead","statusCode":"","headers":{},"x":1132,"y":2293.199951171875,"wires":[]},{"id":"1257d900.cb77a7","type":"http in","z":"5807cffb.d10fb","name":"login","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":762,"y":3664.39990234375,"wires":[["a0d1bc8b.fd1b3"]]},{"id":"a1589a5d.15bc08","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1472,"y":3704.39990234375,"wires":[]},{"id":"cf4426f8.c737b8","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1472,"y":3624.39990234375,"wires":[]},{"id":"d47e7f51.308a3","type":"http in","z":"5807cffb.d10fb","name":"","url":"/encryption","method":"post","upload":false,"swaggerDoc":"","x":137.00001525878906,"y":2506.8001346588135,"wires":[["219a4212.b2c26e"]]},{"id":"6bb4e95a.598058","type":"change","z":"5807cffb.d10fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":478.00000762939453,"y":2505.799940109253,"wires":[["ea6589ae.8f1978","d2ca0b38.06d5b8"]]},{"id":"a336ec51.9270d","type":"http in","z":"5807cffb.d10fb","name":"","url":"/decrypt","method":"post","upload":false,"swaggerDoc":"","x":152,"y":2612.8000869750977,"wires":[["7e3a6a6b.2e8504"]]},{"id":"c3959e0b.46a38","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1094.0000114440918,"y":2613.7999410629272,"wires":[]},{"id":"7e3a6a6b.2e8504","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.token=msg.req.body.access_token;\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":361.00000381469727,"y":2615.7999410629272,"wires":[["c3617bcf.084568"]]},{"id":"a39b7964.b436e8","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.payload=msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":820.0000076293945,"y":2615.7999410629272,"wires":[["c3959e0b.46a38"]]},{"id":"edd86805.210028","type":"http in","z":"5807cffb.d10fb","name":"","url":"/logins","method":"get","upload":false,"swaggerDoc":"","x":135.20000457763672,"y":2699.9999418258667,"wires":[["d43f2e3b.0e3b3"]]},{"id":"4d8ae7b1.97d958","type":"http in","z":"5807cffb.d10fb","name":"","url":"/logins","method":"post","upload":false,"swaggerDoc":"","x":130.20001220703125,"y":2791.9999446868896,"wires":[["e6364f26.8560a"]]},{"id":"ffb108c6.f751a8","type":"http in","z":"5807cffb.d10fb","name":"","url":"/protected","method":"get","upload":false,"swaggerDoc":"","x":138.20001220703125,"y":2882.999945163727,"wires":[["34002f6e.ae273"]]},{"id":"3855c3a2.a42a0c","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1153.6000137329102,"y":3009.0001430511475,"wires":[]},{"id":"70d277c.7219b88","type":"change","z":"5807cffb.d10fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":864.6000137329102,"y":2786.9999437332153,"wires":[["491bda25.861134"]]},{"id":"491bda25.861134","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1076.6000137329102,"y":2783.9999446868896,"wires":[]},{"id":"34002f6e.ae273","type":"function","z":"5807cffb.d10fb","name":"","func":"if (msg.payload.token) {  \n   msg.token = msg.payload.token;\n   node.send(msg);\n} else {\n   msg.statusCode = 403;\n   node.send([null, msg]);\n}","outputs":2,"noerr":0,"x":362.6000061035156,"y":2879.9999446868896,"wires":[["14085676.a126ba"],[]]},{"id":"c22bd62f.b588c8","type":"change","z":"5807cffb.d10fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":853.6000595092773,"y":2867.9999446868896,"wires":[["6025d724.08c1c8"]]},{"id":"6025d724.08c1c8","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1092.6000137329102,"y":2864.9999446868896,"wires":[]},{"id":"d43f2e3b.0e3b3","type":"template","z":"5807cffb.d10fb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n   <head>\n   </head>\n   <body>\n      <form action=\"/process_login\" method=\"POST\">\n         <label for=\"username\">Login</label>\n         <input name=\"username\" type=\"text\" />\n         <br />\n         <label for=\"password\">Password</label>\n         <input name=\"password\" type=\"password\" />\n         <br />\n         <input type=\"submit\" />\n      </form>\n   </body>\n</html>  ","output":"str","x":555.6000061035156,"y":2703.999942779541,"wires":[["dc7814f0.029c58"]]},{"id":"dc7814f0.029c58","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1051.6000137329102,"y":2695.999942779541,"wires":[]},{"id":"ab613281.3965","type":"change","z":"5807cffb.d10fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":452.6000061035156,"y":3053.0001916885376,"wires":[["1c8e5f44.6245f1"]]},{"id":"72900966.2ec528","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1131.6000137329102,"y":2965.000141143799,"wires":[]},{"id":"7f70c934.080a58","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.payload=msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":779.6000595092773,"y":3101.600143432617,"wires":[["4e62fc73.9175d4","864dde15.4acbc"]]},{"id":"4e62fc73.9175d4","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120.6000137329102,"y":3114.600143432617,"wires":[]},{"id":"864dde15.4acbc","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1088.6000137329102,"y":3056.600143432617,"wires":[]},{"id":"1c8e5f44.6245f1","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.token=msg.req.body.access_token;\nreturn msg;","outputs":1,"noerr":0,"x":433.6000061035156,"y":3097.199996948242,"wires":[["834268b5.2ca2d8"]]},{"id":"66573346.24e91c","type":"http in","z":"5807cffb.d10fb","name":"","url":"/protecteds","method":"post","upload":false,"swaggerDoc":"","x":95,"y":3040.5999965667725,"wires":[["9d5ba73e.fe42c8"]]},{"id":"b894b59e.98a6c8","type":"inject","z":"5807cffb.d10fb","name":"","topic":"","payload":"{ \"username\": \"admin\", \"password\": \"secret\", \"firstName\": \"John\", \"lastName\": \"O'Connor\", \"email\": \"johnwoconnor@compose.io\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":615.6000366210938,"y":2994.199951171875,"wires":[["53bee9ab.403468"]]},{"id":"ea6589ae.8f1978","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":845,"y":2542.39990234375,"wires":[]},{"id":"d2ca0b38.06d5b8","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":789,"y":2459,"wires":[]},{"id":"34ef16b.edbf6ea","type":"http in","z":"e381a433.b887f8","name":"","url":"/RequsetAccess","method":"post","upload":false,"swaggerDoc":"","x":118,"y":156,"wires":[["721e8581.88d05c"]]},{"id":"b12d5a82.b29f58","type":"debug","z":"e381a433.b887f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1077,"y":275,"wires":[]},{"id":"721e8581.88d05c","type":"function","z":"e381a433.b887f8","name":"Prepared data","func":"msg.user = msg.payload.user;\nmsg.company = msg.payload.company;\n// msg.address = msg.payload.address;\nmsg.payload = {\n    email: msg.user.email\n};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":163,"y":236,"wires":[["2c6b5fa2.5c9e"]]},{"id":"b5355eec.588b7","type":"function","z":"e381a433.b887f8","name":"User Template","func":"userTemplate = {\n\tfirstname :'',\n\tlastname :'',\n\ttype :'P',\n\tusername :'',\n\temail :'',\n\tphone :'',\n\tpassword :'',\n\tpresent_address :'',\n\tpermanent_address :'',\n\thasCertificate : 0,\n\thasVerified : 0,\n\tdesignation :'',\n\tposition :'',\n\texperience :'',\n\tjoined :'',\n\tcreated : new Date(),\n\tstatus :'A'\n}\n\nmsg.payload = {...userTemplate, ...msg.user};\n\nreturn msg;","outputs":1,"noerr":0,"x":403,"y":149,"wires":[["4011310f.35028"]]},{"id":"83d202ee.685d1","type":"function","z":"e381a433.b887f8","name":"Address Template","func":"addressTemplate={\n    userId: '',\n    address_line_1:'',\n\taddress_line_2:'',\n\tstreet:'',\n\tlocality:'',\n\tstate:'',\n\tcountry:'',\n\tzipcode:'',\n};\nmsg.userId = {userId : msg.payload.ops[0]._id };\ndelete msg.payload;\nmsg.payload = {...addressTemplate, ...msg.address,...msg.userId};\nreturn msg;","outputs":1,"noerr":0,"x":919.0000076293945,"y":31.000001907348633,"wires":[[]]},{"id":"8f2ec49a.4bfea8","type":"function","z":"e381a433.b887f8","name":"Company Template","func":"companyTemplate = {\n\tuserId: '',\n\tname: '',\n\twebsite: '',\n\tindustry: '',\n\tsize: '',\n\tcountry:'',\n\tregistered: new Date(),\n}\nuserId = {userId : msg.payload.ops[0]._id };\ndelete msg.payload;\nmsg.payload = {...companyTemplate, ...msg.company,...userId};\nreturn msg;","outputs":1,"noerr":0,"x":492,"y":356,"wires":[["f97913eb.122e7"]]},{"id":"ac0cf6fc.3eb1b8","type":"http response","z":"e381a433.b887f8","name":"","statusCode":"","headers":{},"x":1132,"y":438,"wires":[]},{"id":"50a353a9.0dc7ac","type":"function","z":"e381a433.b887f8","name":"Response","func":"if(msg.payload.result.n && msg.payload.result.ok){\n    msg.payload = { status:'success',message:'Thank you for contact us'};\n}else{\n    msg.payload = { status:'error',message:'Something went wrong!'};\n}\nreturn msg;","outputs":1,"noerr":0,"x":981,"y":398,"wires":[["ac0cf6fc.3eb1b8"]]},{"id":"f6433115.1fc3b","type":"switch","z":"e381a433.b887f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":294,"y":475,"wires":[["b5355eec.588b7"],["4522c53e.d06a7c"]]},{"id":"4522c53e.d06a7c","type":"function","z":"e381a433.b887f8","name":"Response","func":"msg.payload = { status:'Error',message:'Email Already Exists'};\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":453,"wires":[["9e1d525b.5be25"]]},{"id":"9e1d525b.5be25","type":"http response","z":"e381a433.b887f8","name":"","statusCode":"","headers":{},"x":711,"y":446,"wires":[]},{"id":"f35600b5.43ce5","type":"debug","z":"e381a433.b887f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810.6000366210938,"y":233,"wires":[]},{"id":"7966c148.8faf","type":"http in","z":"e381a433.b887f8","name":"","url":"/authenticate","method":"post","upload":false,"swaggerDoc":"","x":132.6000270843506,"y":810.9999904632568,"wires":[["299a9074.9c626","9deb74f9.f4e1e8"]]},{"id":"ec9af742.1407f8","type":"debug","z":"e381a433.b887f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1028.6000518798828,"y":933.0000200271606,"wires":[]},{"id":"70b5cf35.60a45","type":"http response","z":"e381a433.b887f8","name":"","statusCode":"","headers":{},"x":1050.6000366210938,"y":759,"wires":[]},{"id":"31c60f91.0c59b","type":"function","z":"e381a433.b887f8","name":"Valid User","func":"msg.payload = {\n    status: msg.result.status,\n    message: msg.result.message,\n    data: msg.result.data,\n    token: msg.token\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":943.6001052856445,"y":847.0000190734863,"wires":[["70b5cf35.60a45","ec9af742.1407f8"]]},{"id":"299a9074.9c626","type":"debug","z":"e381a433.b887f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":424.6000270843506,"y":917,"wires":[]},{"id":"d511d4c7.b12bf8","type":"switch","z":"e381a433.b887f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":673.6000804901123,"y":786.9999980926514,"wires":[["404a0b42.aa2984"],["5ab7c99f.a07328"]]},{"id":"404a0b42.aa2984","type":"function","z":"e381a433.b887f8","name":"Invalid User","func":"msg.payload = {\n    status: \"error\",\n    message: 'Incorrect user credentials',\n}\nreturn msg;","outputs":1,"noerr":0,"x":847.6000804901123,"y":715.9999980926514,"wires":[["70b5cf35.60a45"]]},{"id":"5ab7c99f.a07328","type":"function","z":"e381a433.b887f8","name":"Pass Id to token","func":"msg.result = {\n    status: 'success',\n    message: 'Login Successful',\n    data: msg.payload\n}\n\nmsg.payload = {id : msg.payload._id }\nreturn msg;","outputs":1,"noerr":0,"x":695.6666717529297,"y":872.4444642066956,"wires":[["34e2521c.9e655e"]]},{"id":"56cd47bd.db6f48","type":"http in","z":"97cc9e61.50ca2","name":"save Leads","url":"/saveleads","method":"post","upload":false,"swaggerDoc":"","x":160.0000228881836,"y":208.33334159851074,"wires":[["7d624430.f718cc"]]},{"id":"2cbc5cf7.1399c4","type":"http response","z":"97cc9e61.50ca2","name":"","statusCode":"","headers":{},"x":970.6666870117188,"y":243.99998474121094,"wires":[]},{"id":"45f3b5d6.78c2ac","type":"debug","z":"97cc9e61.50ca2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":934.9999999999999,"y":151.66666666666666,"wires":[]},{"id":"8c3a7250.0c479","type":"http in","z":"97cc9e61.50ca2","name":"getPartnerLeads","url":"/getPartnerLeads","method":"post","upload":false,"swaggerDoc":"","x":182.49999999999997,"y":444.99999999999994,"wires":[["4c3a05f1.cebfcc"]]},{"id":"3c660317.06c6ac","type":"debug","z":"97cc9e61.50ca2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":959.1666666666665,"y":416.66666666666663,"wires":[]},{"id":"4e1ccb16.a0fd14","type":"http response","z":"97cc9e61.50ca2","name":"","statusCode":"","headers":{},"x":978.3333320617676,"y":500.00001335144043,"wires":[]},{"id":"806716c4.d2b088","type":"http in","z":"97cc9e61.50ca2","name":"delete lead","url":"/deletelead","method":"delete","upload":false,"swaggerDoc":"","x":89.16667938232422,"y":650.0000457763672,"wires":[["6865e052.004e1"]]},{"id":"f31510c9.c8685","type":"debug","z":"97cc9e61.50ca2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1154.1665802001953,"y":576.6666297912598,"wires":[]},{"id":"75259020.a22ab","type":"http response","z":"97cc9e61.50ca2","name":"","statusCode":"","headers":{},"x":1179.9999771118164,"y":688.3333415985107,"wires":[]},{"id":"6865e052.004e1","type":"function","z":"97cc9e61.50ca2","name":"","func":"msg._id = msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"x":261.66667556762695,"y":651.6666316986084,"wires":[["69fdd50d.78f0ac"]]},{"id":"b06e455.3abd5b8","type":"http in","z":"97cc9e61.50ca2","name":"get developer","url":"/getdeveloper","method":"get","upload":false,"swaggerDoc":"","x":111.66666412353516,"y":833.3333129882812,"wires":[["95917c9e.3166"]]},{"id":"d0748e85.2aca2","type":"debug","z":"97cc9e61.50ca2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":898.3333307902017,"y":804.999979654948,"wires":[]},{"id":"7128286a.2ac918","type":"http response","z":"97cc9e61.50ca2","name":"","statusCode":"","headers":{},"x":917.4999961853027,"y":888.3333263397217,"wires":[]},{"id":"1f781efb.e3ddf1","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":570,"y":1420,"wires":[["39a2c4bb.b82b9c"]]},{"id":"d8822ea4.a40d","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":570,"y":1240,"wires":[["4a5c600a.71922"]]},{"id":"c6feaa22.a39fb8","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":570,"y":1840,"wires":[["5d066217.f46d2c"]]},{"id":"5d4f44a3.96a12c","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":430,"y":560,"wires":[["25518772.ff4a28"]]},{"id":"90f0c0f6.9dea4","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":445,"y":1061.6666259765625,"wires":[["fbf7d222.25948"]]},{"id":"60998de7.0b0404","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":572,"y":2253.199951171875,"wires":[["3b81ba59.365456"]]},{"id":"69fdd50d.78f0ac","type":"objectid","z":"97cc9e61.50ca2","name":"","selectedProperty":"_id","x":415.00000762939453,"y":648.3333797454834,"wires":[["c9534669.987208","c33ecf59.741f7"]]},{"id":"219a4212.b2c26e","type":"JsonWebToken","z":"5807cffb.d10fb","name":"Token","tokenconfig":"859239ea.3a8878","x":305.00000762939453,"y":2509.7999391555786,"wires":[["6bb4e95a.598058"]]},{"id":"c3617bcf.084568","type":"JsonWebToken","z":"5807cffb.d10fb","name":"Token","tokenconfig":"859239ea.3a8878","x":576.0000076293945,"y":2618.7999410629272,"wires":[["a39b7964.b436e8"]]},{"id":"14085676.a126ba","type":"JsonWebToken","z":"5807cffb.d10fb","name":"decrypt","tokenconfig":"859239ea.3a8878","x":572.6000061035156,"y":2873.9999446868896,"wires":[["c22bd62f.b588c8"]]},{"id":"9d5ba73e.fe42c8","type":"JsonWebToken","z":"5807cffb.d10fb","name":"token","tokenconfig":"859239ea.3a8878","x":266.60000228881836,"y":3058.2003870010376,"wires":[["ab613281.3965"]]},{"id":"834268b5.2ca2d8","type":"JsonWebToken","z":"5807cffb.d10fb","name":"decrypt","tokenconfig":"859239ea.3a8878","x":605.6000099182129,"y":3102.6001443862915,"wires":[["7f70c934.080a58"]]},{"id":"34e2521c.9e655e","type":"JsonWebToken","z":"e381a433.b887f8","name":"token","tokenconfig":"859239ea.3a8878","x":803.666618347168,"y":934.8889083862305,"wires":[["31c60f91.0c59b"]]},{"id":"39a2c4bb.b82b9c","type":"mongodb2 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"deleteOne","x":750,"y":1420,"wires":[["7ba20f02.ab3cc","a65457c9.032698"]]},{"id":"4a5c600a.71922","type":"mongodb2 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"ChannelMember","operation":"deleteOne","x":790,"y":1240,"wires":[["96039e88.fc1f2","1f0d9587.84fcda"]]},{"id":"ab9c65c7.e80438","type":"mongodb2 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"channelmember","operation":"find.toArray","x":710,"y":662.6000061035156,"wires":[["802c82d3.20616","67d067bb.e152e8"]]},{"id":"c33ecf59.741f7","type":"mongodb2 in","z":"97cc9e61.50ca2","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"leads","operation":"deleteOne","x":677.5000076293945,"y":660.0000286102295,"wires":[["f31510c9.c8685","75259020.a22ab"]]},{"id":"e82590c4.f26d8","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"save","x":560,"y":60,"wires":[["fda4061a.9b1778","37e97de6.f587d2"]]},{"id":"754c23f4.ef985c","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":680,"y":240,"wires":[["b8eb299e.0ba448","691957ac.068928"]]},{"id":"c4adf6a1.f30ac8","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":680,"y":380,"wires":[["e334b285.2637","7742d247.415d0c"]]},{"id":"75c4c537.b9fbec","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"save","x":680,"y":1580,"wires":[["d6f8eedf.cfe71","38abbc91.b1d024"]]},{"id":"edb29941.cdd9f8","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"save","x":650,"y":1700,"wires":[["fd7a2402.db9e38","fafc979c.b8ccf8"]]},{"id":"bf842767.d66cb8","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"find.toArray","x":640,"y":2000,"wires":[["1fda18d4.ac42a7","9666b06c.db59"]]},{"id":"f15f85b1.88ad48","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"find.toArray","x":670,"y":2120,"wires":[["805045f4.dd5f58","180e5f17.2ab7e1"]]},{"id":"f0ea7ec5.b6a88","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"channelmember","operation":"save","x":510,"y":860,"wires":[["ed7bf347.c5f6f","1250a1a2.6799fe"]]},{"id":"25518772.ff4a28","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"findOne","x":630,"y":560,"wires":[["cfc1c15b.f5df1","dcb16bea.48ab18"]]},{"id":"bf9daeb1.02d2c","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"channelmember ","operation":"find.toArray","x":710,"y":720,"wires":[[]]},{"id":"5d066217.f46d2c","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"deleteOne","x":788.3333053588867,"y":1838.3332843780518,"wires":[["65a8ec4a.bb6e74","1394c1e1.e1cefe"]]},{"id":"fbf7d222.25948","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"findOne","x":645,"y":1061.6666259765625,"wires":[["a5518364.0595c","faf76be6.791ae8"]]},{"id":"3b81ba59.365456","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"deleteOne","x":800.3333053588867,"y":2251.5332355499268,"wires":[["e48cdd92.22b05","7720d776.29e278"]]},{"id":"a0d1bc8b.fd1b3","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":1102,"y":3664.39990234375,"wires":[["a1589a5d.15bc08","cf4426f8.c737b8"]]},{"id":"53bee9ab.403468","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"user","operation":"insert","x":877.6000137329102,"y":2988.000337600708,"wires":[["72900966.2ec528","3855c3a2.a42a0c"]]},{"id":"e6364f26.8560a","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"user","operation":"findOne","x":579.6000518798828,"y":2789.9999437332153,"wires":[["70d277c.7219b88"]]},{"id":"4011310f.35028","type":"mongodb3 in","z":"e381a433.b887f8","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Users","operation":"save","x":463.5,"y":251,"wires":[["8f2ec49a.4bfea8","f35600b5.43ce5"]]},{"id":"f97913eb.122e7","type":"mongodb3 in","z":"e381a433.b887f8","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"company","operation":"save","x":785.5,"y":334,"wires":[["b12d5a82.b29f58","50a353a9.0dc7ac"]]},{"id":"2880d2be.85fcde","type":"mongodb3 in","z":"e381a433.b887f8","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"address","operation":"save","x":936.5000152587891,"y":75.00000309944153,"wires":[[]]},{"id":"2c6b5fa2.5c9e","type":"mongodb3 in","z":"e381a433.b887f8","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Users","operation":"findOne","x":164,"y":317,"wires":[["f6433115.1fc3b"]]},{"id":"9deb74f9.f4e1e8","type":"mongodb3 in","z":"e381a433.b887f8","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Users","operation":"findOne","x":468.6001262664795,"y":733.9999990463257,"wires":[["d511d4c7.b12bf8"]]},{"id":"7d624430.f718cc","type":"mongodb3 in","z":"97cc9e61.50ca2","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"leads","operation":"save","x":565.8334197998047,"y":210.00000381469727,"wires":[["45f3b5d6.78c2ac","2cbc5cf7.1399c4"]]},{"id":"4c3a05f1.cebfcc","type":"mongodb3 in","z":"97cc9e61.50ca2","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"leads","operation":"find.toArray","x":577.4999999999999,"y":438.33333333333326,"wires":[["3c660317.06c6ac","4e1ccb16.a0fd14"]]},{"id":"c9534669.987208","type":"mongodb3 in","z":"97cc9e61.50ca2","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"leads","operation":"deleteOne","x":714.1667327880859,"y":591.6666717529297,"wires":[[]]},{"id":"95917c9e.3166","type":"mongodb3 in","z":"97cc9e61.50ca2","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"","operation":"find.forEach","x":498.3333435058594,"y":839.9999313354492,"wires":[["d0748e85.2aca2","7128286a.2ac918"]]},{"id":"ed839799.719308","type":"http in","z":"6b332ce0.98e414","name":"","url":"/getPartners","method":"get","upload":false,"swaggerDoc":"","x":132.5,"y":180,"wires":[["4a188337.32e7ac"]]},{"id":"4a188337.32e7ac","type":"mongodb3 in","z":"6b332ce0.98e414","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Users","operation":"find.toArray","x":191.5,"y":51,"wires":[["196e7834.043e38"]]},{"id":"6bc4f5a3.c0614c","type":"http response","z":"6b332ce0.98e414","name":"","statusCode":"","headers":{},"x":772.5,"y":170,"wires":[]},{"id":"c231d43.ac70f28","type":"debug","z":"6b332ce0.98e414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":716.5,"y":45,"wires":[]},{"id":"d59b5548.2ac638","type":"function","z":"6b332ce0.98e414","name":"","func":"msg.user = msg.payload;\nmsg.payload  = { userId: msg.user._id }\nreturn msg;","outputs":1,"noerr":0,"x":357.5,"y":135,"wires":[["e138bbd2.93af08"]]},{"id":"e138bbd2.93af08","type":"mongodb3 in","z":"6b332ce0.98e414","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"company","operation":"findOne","x":570.5,"y":209,"wires":[["d0937ff7.9a48a"]]},{"id":"11df2033.f345c","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":40,"wires":[]},{"id":"81fe7014.ec09b","type":"http in","z":"33b1292e.507796","name":"save partner data","url":"/addpartnerdata","method":"post","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["ac732ba8.7fd348"]]},{"id":"5b044596.efb6bc","type":"http response","z":"33b1292e.507796","name":"addpartner","statusCode":"","headers":{},"x":1010,"y":140,"wires":[]},{"id":"66033ba.2e766c4","type":"http in","z":"33b1292e.507796","name":"Login Partner ","url":"/Loginpartner","method":"get","upload":false,"swaggerDoc":"","x":90,"y":240,"wires":[["96e5b6d8.335ca8"]]},{"id":"d9404f08.6eeed","type":"http response","z":"33b1292e.507796","name":"partner data","statusCode":"","headers":{},"x":1190,"y":300,"wires":[]},{"id":"22a5a3fb.e8bc2c","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":240,"wires":[]},{"id":"d8c60046.6e5c9","type":"comment","z":"33b1292e.507796","name":"database collection information","info":"The collection is named LicensePlate. \nEach document format is :\n```JavaScript\n{\n    \"_id\": ObjectID(\"585a4732ac11400192a60b85\"),\n    \"nom\": \"riotte\",\n    \"prenom\": \"françois\",\n    \"immatriculation\": \"123456\",\n    \"heure\": \"13\",\n    \"minute\": \"30\"\n}\n```","x":1850,"y":1560,"wires":[]},{"id":"20b8d1b6.95653e","type":"http in","z":"33b1292e.507796","name":"partner list","url":"/getpartnerdata","method":"get","upload":false,"swaggerDoc":"","x":80,"y":380,"wires":[["79b0b086.d2b07"]]},{"id":"b07cd890.546dc8","type":"http response","z":"33b1292e.507796","name":"partner data","statusCode":"","headers":{},"x":1190,"y":440,"wires":[]},{"id":"f078bac1.897e98","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":380,"wires":[]},{"id":"5e1a0cf4.d99f34","type":"http in","z":"33b1292e.507796","name":"get leads data","url":"/getleadsdata","method":"get","upload":false,"swaggerDoc":"","x":150,"y":2000,"wires":[["ac39c12a.fdea5"]]},{"id":"831701ad.c10f8","type":"http in","z":"33b1292e.507796","name":"delete partner data","url":"/deletepartner","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":1420,"wires":[["29adf3ea.17722c"]]},{"id":"29adf3ea.17722c","type":"function","z":"33b1292e.507796","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1420,"wires":[["c8e571c3.4e0c9"]]},{"id":"d3fd1ef2.bb76a","type":"http response","z":"33b1292e.507796","name":"delete partner","statusCode":"","headers":{},"x":1120,"y":1480,"wires":[]},{"id":"21c1bf1.96fbc4","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":1380,"wires":[]},{"id":"d8212013.a87aa","type":"http in","z":"33b1292e.507796","name":"delete channel members","url":"/deletechanneM","method":"delete","upload":false,"swaggerDoc":"","x":190,"y":1240,"wires":[["c2af8631.62f268"]]},{"id":"c2af8631.62f268","type":"function","z":"33b1292e.507796","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1240,"wires":[["11d118fc.32ee67"]]},{"id":"f5c353de.a62dc","type":"http response","z":"33b1292e.507796","name":"delete channel","statusCode":"","headers":{},"x":1120,"y":1280,"wires":[]},{"id":"95489544.b36da8","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1200,"wires":[]},{"id":"d3217967.81fdb8","type":"http in","z":"33b1292e.507796","name":"save leads data","url":"/saveleadsdata","method":"post","upload":false,"swaggerDoc":"","x":160,"y":1580,"wires":[["6f144f01.13697"]]},{"id":"792e7c7f.163834","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":1540,"wires":[]},{"id":"a8ea341.f957dc8","type":"http response","z":"33b1292e.507796","name":"leads data","statusCode":"","headers":{},"x":1130,"y":1620,"wires":[]},{"id":"94d689cf.5807b8","type":"http in","z":"33b1292e.507796","name":"developers data ","url":"/savedevelopers","method":"post","upload":false,"swaggerDoc":"","x":160,"y":1700,"wires":[["56788082.62701"]]},{"id":"2d8cc968.7bccf6","type":"http response","z":"33b1292e.507796","name":"developers data","statusCode":"","headers":{},"x":1160,"y":1740,"wires":[]},{"id":"2cda452b.d3d7fa","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":1680,"wires":[]},{"id":"5c1f0abb.36ed94","type":"http in","z":"33b1292e.507796","name":"delete leads data","url":"/deleteleads","method":"delete","upload":false,"swaggerDoc":"","x":160,"y":1840,"wires":[["15bb70cb.e652df"]]},{"id":"15bb70cb.e652df","type":"function","z":"33b1292e.507796","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1840,"wires":[["2225a9f7.0132f6"]]},{"id":"4f01980d.fc8bb8","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1800,"wires":[]},{"id":"fe1b9549.4485e8","type":"http response","z":"33b1292e.507796","name":"delete lead","statusCode":"","headers":{},"x":1130,"y":1880,"wires":[]},{"id":"ff63cc9c.f3cf","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":1960,"wires":[]},{"id":"7e2c3cff.2a9f14","type":"http response","z":"33b1292e.507796","name":"get leads","statusCode":"","headers":{},"x":1140,"y":2040,"wires":[]},{"id":"3efbd06.3c2bf3","type":"http in","z":"33b1292e.507796","name":"get developers data ","url":"/getdevelopers","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2120,"wires":[["8ba00ae4.36cc78"]]},{"id":"42b5667f.aafd58","type":"http response","z":"33b1292e.507796","name":"developers data","statusCode":"","headers":{},"x":1160,"y":2160,"wires":[]},{"id":"579c322e.35f79c","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1120,"y":2100,"wires":[]},{"id":"5c05fc92.fd3e84","type":"http response","z":"33b1292e.507796","name":"channel data","statusCode":"","headers":{},"x":1130,"y":920,"wires":[]},{"id":"2367c652.d8b29a","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":840,"wires":[]},{"id":"525e0c5b.25b434","type":"http in","z":"33b1292e.507796","name":"Save channel data","url":"/channelmemberregistration","method":"post","upload":false,"swaggerDoc":"","x":90,"y":860,"wires":[["520b34eb.d3ce5c"]]},{"id":"82d757e8.5a7368","type":"http in","z":"33b1292e.507796","name":"get perticular Partner ","url":"/getPerticularPartner","method":"get","upload":false,"swaggerDoc":"","x":120,"y":560,"wires":[["de6d1c28.ab9bf"]]},{"id":"51048303.ca5d2c","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":520,"wires":[]},{"id":"9b2cfe92.635a1","type":"http response","z":"33b1292e.507796","name":"get partner data ","statusCode":"","headers":{},"x":1220,"y":620,"wires":[]},{"id":"de6d1c28.ab9bf","type":"function","z":"33b1292e.507796","name":"Extract id","func":"msg._id= msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":560,"wires":[["ee9751ba.d95b3"]]},{"id":"d132af29.15ab5","type":"http in","z":"33b1292e.507796","name":"Login member","url":"/LoginMember","method":"get","upload":false,"swaggerDoc":"","x":90,"y":720,"wires":[["8b69aa90.2aff98"]]},{"id":"84a2c0f.22e6f4","type":"http response","z":"33b1292e.507796","name":"partner data","statusCode":"","headers":{},"x":1190,"y":780,"wires":[]},{"id":"9473ba1.7661348","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":720,"wires":[]},{"id":"2916f651.0eabfa","type":"mongodb2 in","z":"33b1292e.507796","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"deleteOne","x":750,"y":1420,"wires":[["d3fd1ef2.bb76a","21c1bf1.96fbc4"]]},{"id":"5173c2e2.f2ca9c","type":"mongodb2 in","z":"33b1292e.507796","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"ChannelMember","operation":"deleteOne","x":790,"y":1240,"wires":[["f5c353de.a62dc","95489544.b36da8"]]},{"id":"ac732ba8.7fd348","type":"mongodb3 in","z":"33b1292e.507796","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"save","x":560,"y":60,"wires":[["11df2033.f345c","5b044596.efb6bc"]]},{"id":"96e5b6d8.335ca8","type":"mongodb3 in","z":"33b1292e.507796","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":680,"y":240,"wires":[["22a5a3fb.e8bc2c","d9404f08.6eeed"]]},{"id":"79b0b086.d2b07","type":"mongodb3 in","z":"33b1292e.507796","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":680,"y":380,"wires":[["f078bac1.897e98","b07cd890.546dc8"]]},{"id":"6f144f01.13697","type":"mongodb3 in","z":"33b1292e.507796","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"save","x":680,"y":1580,"wires":[["792e7c7f.163834","a8ea341.f957dc8"]]},{"id":"56788082.62701","type":"mongodb3 in","z":"33b1292e.507796","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"save","x":650,"y":1700,"wires":[["2cda452b.d3d7fa","2d8cc968.7bccf6"]]},{"id":"ac39c12a.fdea5","type":"mongodb3 in","z":"33b1292e.507796","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"find.toArray","x":640,"y":2000,"wires":[["ff63cc9c.f3cf","7e2c3cff.2a9f14"]]},{"id":"8ba00ae4.36cc78","type":"mongodb3 in","z":"33b1292e.507796","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"find.toArray","x":670,"y":2120,"wires":[["579c322e.35f79c","42b5667f.aafd58"]]},{"id":"520b34eb.d3ce5c","type":"mongodb3 in","z":"33b1292e.507796","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"channelmember","operation":"save","x":510,"y":860,"wires":[["2367c652.d8b29a","5c05fc92.fd3e84"]]},{"id":"8df81ca9.18a4a","type":"mongodb3 in","z":"33b1292e.507796","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"findOne","x":630,"y":560,"wires":[["51048303.ca5d2c","9b2cfe92.635a1"]]},{"id":"a49600f7.25f8d","type":"mongodb3 in","z":"33b1292e.507796","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"channelmember ","operation":"find.toArray","x":710,"y":720,"wires":[[]]},{"id":"c8e571c3.4e0c9","type":"objectid","z":"33b1292e.507796","name":"","selectedProperty":"_id","x":570,"y":1420,"wires":[["2916f651.0eabfa"]]},{"id":"11d118fc.32ee67","type":"objectid","z":"33b1292e.507796","name":"","selectedProperty":"_id","x":570,"y":1240,"wires":[["5173c2e2.f2ca9c"]]},{"id":"2225a9f7.0132f6","type":"objectid","z":"33b1292e.507796","name":"","selectedProperty":"_id","x":570,"y":1840,"wires":[["d2e00b6e.6aa4f8"]]},{"id":"ee9751ba.d95b3","type":"objectid","z":"33b1292e.507796","name":"","selectedProperty":"_id","x":430,"y":560,"wires":[["8df81ca9.18a4a"]]},{"id":"8b69aa90.2aff98","type":"mongodb2 in","z":"33b1292e.507796","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"channelmember","operation":"find.toArray","x":710,"y":662.6000061035156,"wires":[["84a2c0f.22e6f4","9473ba1.7661348"]]},{"id":"d2e00b6e.6aa4f8","type":"mongodb3 in","z":"33b1292e.507796","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"deleteOne","x":788.3333053588867,"y":1838.3332843780518,"wires":[["4f01980d.fc8bb8","fe1b9549.4485e8"]]},{"id":"4a997e26.d74ce","type":"http in","z":"33b1292e.507796","name":"get perticular Partner ","url":"/getPerticularPartner","method":"get","upload":false,"swaggerDoc":"","x":135,"y":1061.6666259765625,"wires":[["34492cb2.235744"]]},{"id":"d54abe9a.91c53","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1195,"y":1021.6666259765625,"wires":[]},{"id":"b9a8744d.3e4dd8","type":"http response","z":"33b1292e.507796","name":"get partner data ","statusCode":"","headers":{},"x":1235,"y":1121.6666259765625,"wires":[]},{"id":"34492cb2.235744","type":"function","z":"33b1292e.507796","name":"Extract id","func":"msg._id= msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":1061.6666259765625,"wires":[["b51abe9.48ff04"]]},{"id":"cb32d08d.dc6a4","type":"mongodb3 in","z":"33b1292e.507796","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"findOne","x":645,"y":1061.6666259765625,"wires":[["d54abe9a.91c53","b9a8744d.3e4dd8"]]},{"id":"b51abe9.48ff04","type":"objectid","z":"33b1292e.507796","name":"","selectedProperty":"_id","x":445,"y":1061.6666259765625,"wires":[["cb32d08d.dc6a4"]]},{"id":"6beb1d57.a420e4","type":"http in","z":"33b1292e.507796","name":"","url":"/usersadd","method":"post","upload":false,"swaggerDoc":"","x":220.83333333333331,"y":3061.666666666666,"wires":[["fb003537.7a6758"]]},{"id":"fb003537.7a6758","type":"function","z":"33b1292e.507796","name":"","func":"msg.body = msg.payload.body\nreturn msg;","outputs":1,"noerr":0,"x":327.50000762939453,"y":3131.6665449142456,"wires":[["710f37ce.a12408"]]},{"id":"53a19987.4251b8","type":"http response","z":"33b1292e.507796","name":"","statusCode":"","headers":{},"x":714.1666666666665,"y":3158.333333333333,"wires":[]},{"id":"c5a7fcda.46605","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":689.1666666666665,"y":3028.333333333333,"wires":[]},{"id":"710f37ce.a12408","type":"http request","z":"33b1292e.507796","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/createRole","tls":"","proxy":"","authType":"","x":512.5000228881836,"y":3128.3334522247314,"wires":[["c5a7fcda.46605","53a19987.4251b8"]]},{"id":"236efd30.6969e2","type":"http request","z":"33b1292e.507796","name":"","method":"DELETE","ret":"obj","paytoqs":false,"url":"http://localhost:3000/deleteOne","tls":"","proxy":"","authType":"","x":642.4999847412109,"y":3351.666799545288,"wires":[["ec25fa62.127b38","444fcf32.bbc42"]]},{"id":"edb096ad.a33088","type":"http in","z":"33b1292e.507796","name":"","url":"/deleteOne","method":"delete","upload":false,"swaggerDoc":"","x":224.16665649414062,"y":3354.999807357788,"wires":[["316a5233.8fc15e"]]},{"id":"316a5233.8fc15e","type":"function","z":"33b1292e.507796","name":"","func":"msg.body = msg.payload.body\nreturn msg;","outputs":1,"noerr":0,"x":439.16666412353516,"y":3356.6666374206543,"wires":[["236efd30.6969e2"]]},{"id":"ec25fa62.127b38","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":904.9999999999999,"y":3306.666666666666,"wires":[]},{"id":"444fcf32.bbc42","type":"http response","z":"33b1292e.507796","name":"","statusCode":"","headers":{},"x":904.9999999999999,"y":3408.333333333333,"wires":[]},{"id":"aa215c04.ec598","type":"http in","z":"33b1292e.507796","name":"email","url":"/email","method":"post","upload":false,"swaggerDoc":"","x":83,"y":151,"wires":[["115bf1ff.58cfae"]]},{"id":"115bf1ff.58cfae","type":"function","z":"33b1292e.507796","name":"","func":"msg.topic=\"Message From \"+msg.req.body.firstname;\nfullname=msg.req.body.firstname+\" \"+msg.req.body.lastname;\ncompanyname=msg.req.body.companyname;\nemail=msg.req.body.companyemail;\njobrole=msg.req.body.jobroles;\nindustry=msg.req.body.industryname;\nmobile=msg.req.body.mobilenumber;\nsize=msg.req.body.compsize;\ncountry=msg.req.body.countryname;\nmessage=msg.req.body.message;\n\nmsg.payload=\"Full Name: \"+fullname+\"<br>Company Name: \"+companyname+\"<br>Email: \"+email+\"<br>Role: \"+jobrole+\"<br>Industry: \"+industry+\"<br>Mobile Number: \"+mobile+\"<br>Country: \"+country+\"<br>Company Size: \"+size+\"<br>Feedback: \"+message;\n\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":157.00000190734863,"wires":[["ac02762f.450a58","46fd91f8.0193b"]]},{"id":"ac02762f.450a58","type":"e-mail","z":"33b1292e.507796","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"niteshd30@gmail.com","dname":"","x":615.0000076293945,"y":139.00000190734863,"wires":[]},{"id":"46fd91f8.0193b","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":611.0000076293945,"y":187.00000190734863,"wires":[]},{"id":"311683b8.a10b7c","type":"http in","z":"33b1292e.507796","name":"delete leads data","url":"/deletedeveloper","method":"delete","upload":false,"swaggerDoc":"","x":162,"y":2253.199951171875,"wires":[["695b0e3d.f6f3f"]]},{"id":"695b0e3d.f6f3f","type":"function","z":"33b1292e.507796","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":2253.199951171875,"wires":[["e9181e21.cded1"]]},{"id":"e4141b78.cf6178","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1092,"y":2213.199951171875,"wires":[]},{"id":"1dd7fb22.1379f5","type":"http response","z":"33b1292e.507796","name":"delete lead","statusCode":"","headers":{},"x":1132,"y":2293.199951171875,"wires":[]},{"id":"e9181e21.cded1","type":"objectid","z":"33b1292e.507796","name":"","selectedProperty":"_id","x":572,"y":2253.199951171875,"wires":[["2bcca1be.dab11e"]]},{"id":"2bcca1be.dab11e","type":"mongodb3 in","z":"33b1292e.507796","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"deleteOne","x":800.3333053588867,"y":2251.5332355499268,"wires":[["e4141b78.cf6178","1dd7fb22.1379f5"]]},{"id":"7dc4497e.a36ab8","type":"http in","z":"33b1292e.507796","name":"login","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":762,"y":3664.39990234375,"wires":[["9636f1a5.2882f"]]},{"id":"fb86555b.21a6a8","type":"http response","z":"33b1292e.507796","name":"","statusCode":"","headers":{},"x":1472,"y":3704.39990234375,"wires":[]},{"id":"90589a2c.a53188","type":"debug","z":"33b1292e.507796","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1472,"y":3624.39990234375,"wires":[]},{"id":"d4311580.0bae68","type":"http in","z":"33b1292e.507796","name":"","url":"/process_login","method":"post","upload":false,"swaggerDoc":"","x":792,"y":3784.39990234375,"wires":[[]]},{"id":"9636f1a5.2882f","type":"mongodb3 in","z":"33b1292e.507796","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":1102,"y":3664.39990234375,"wires":[["fb86555b.21a6a8","90589a2c.a53188"]]},{"id":"9d8697bf.651de8","type":"debug","z":"9c3982b3.a1aa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1051,"y":367,"wires":[]},{"id":"45fe469d.564ca8","type":"inject","z":"9c3982b3.a1aa2","name":"2) Output Separately for each Record","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":262,"y":255,"wires":[["86fb65ad.f6f9e8"]]},{"id":"7c2fc149.32c8c","type":"mongodb2 in","z":"9c3982b3.a1aa2","service":"_ext_","configNode":"8682e203.b2dea","name":"Mongo DB dynamic operation","collection":"","operation":"","x":700,"y":328,"wires":[["f097bf44.6b556"]]},{"id":"5d0bf2ca.57c7dc","type":"mongodb2 in","z":"9c3982b3.a1aa2","service":"_ext_","configNode":"8682e203.b2dea","name":"Mongo DB dynamic operation","collection":"users","operation":"","x":673,"y":66,"wires":[["f097bf44.6b556"]]},{"id":"d099c9e3.ab3bf8","type":"inject","z":"9c3982b3.a1aa2","name":"1) Find One only","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":198,"y":66,"wires":[["8404b213.a99ad"]]},{"id":"8404b213.a99ad","type":"function","z":"9c3982b3.a1aa2","name":"findOne","func":" var newMsg = {};\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'firstName' : 'nikhil'};\nreturn newMsg;","outputs":1,"noerr":0,"x":418,"y":65,"wires":[["5d0bf2ca.57c7dc"]]},{"id":"d4410501.e46828","type":"mongodb2 in","z":"9c3982b3.a1aa2","service":"_ext_","configNode":"8682e203.b2dea","name":"Store Data into MongoDB","collection":"","operation":"","x":718.9999885559082,"y":492,"wires":[["9d8697bf.651de8"]]},{"id":"86fb65ad.f6f9e8","type":"function","z":"9c3982b3.a1aa2","name":"find.forEach","func":"var newMsg = {};\nnewMsg.collection = 'users';\nnewMsg.operation  = 'find.forEach';\n//newMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Pete2' };\nnewMsg.payload    = { 'firstName' : 'nikhil' };\n// newMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":543,"y":233,"wires":[["7c2fc149.32c8c"]]},{"id":"f097bf44.6b556","type":"function","z":"9c3982b3.a1aa2","name":"Just get name","func":"return msg.payload;","outputs":1,"noerr":0,"x":822,"y":204,"wires":[["9d8697bf.651de8"]]},{"id":"3e9e2ec.061c2d2","type":"inject","z":"9c3982b3.a1aa2","name":"4) Output once only as a list","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":237,"y":571,"wires":[["c9fea00.b6fbe6"]]},{"id":"c9fea00.b6fbe6","type":"function","z":"9c3982b3.a1aa2","name":"find.toArray","func":"var newMsg = {};\nnewMsg.collection = 'names';\nnewMsg.operation  = 'find.toArray';\n//newMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Pete2' };\nnewMsg.payload    = { 'name' : 'Pete1' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":638,"wires":[["2879944e.f6b82c"]]},{"id":"2879944e.f6b82c","type":"mongodb2 in","z":"9c3982b3.a1aa2","service":"_ext_","configNode":"8682e203.b2dea","name":"Mongo DB dynamic operation","collection":"users","operation":"","x":542,"y":629,"wires":[["1c1efa72.d50c76"]]},{"id":"1c1efa72.d50c76","type":"function","z":"9c3982b3.a1aa2","name":"get names as a list","func":"// Outputs separate messages !!\n//var newMsg =[];\n//for (var i = 0; i < msg.payload.length; i++) { \n//newMsg.push({name: msg.payload[i].name}) };\n//return [ newMsg ];\n\n// Combines into a single list (or array)\nvar newMsg =[];\nfor (var i = 0; i < msg.payload.length; i++) {\n//newMsg.push({name:  msg.payload[i].name } ) };\nnewMsg.push(msg.payload[i].name) };\nmsg.payload = newMsg;\nreturn  msg;\n","outputs":1,"x":828,"y":631,"wires":[["9d8697bf.651de8"]]},{"id":"515c24cb.25455c","type":"inject","z":"9c3982b3.a1aa2","name":"3) Enter data","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":185,"y":418,"wires":[["6f33fa45.72d094"]]},{"id":"6f33fa45.72d094","type":"function","z":"9c3982b3.a1aa2","name":"insert (or delete)","func":"// var newMsg = {};\n// newMsg.collection = 'users';\n// newMsg.operation  = 'remove';\n// // newMsg.operation  = 'insert';\n// newMsg.payload    = { 'name': 'peter1' };\n// return newMsg;\nvar newMsg = {};\nnewMsg.collection = 'Developer';\nnewMsg.operation  = 'findOneAndUpdate';\n// newMsg.operation  = 'insert';\nnewMsg.payload = \n{ \n    '_id' : '5dcbb397ca092d2594ccd944',\n    $set: { \n        'firstName': 'ads',\n        'lastName': '',\n        'email': '',\n        'position' : '',\n        'experience' : ''\n    }\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":424,"y":467,"wires":[["d4410501.e46828","ec379c2f.d224c"]]},{"id":"59d904d0.13b1cc","type":"function","z":"b21e649e.a3ab08","name":"build operation parameters: filter, update","func":"// var filter = msg.payload;\n// if (\"string\" == typeof filter) {\n//   filter = JSON.parse(filter);\n// }\n\nmsg.payload = [\n  {\"_id\":\"5dcbb397ca092d2594ccd944\"},\n  {\n    \"firstName\":\"asasssasasas\"\n  }\n];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":337,"y":233.22219848632812,"wires":[["cf33875.26c7f78","2506c8f2.47dbf8"]]},{"id":"cf33875.26c7f78","type":"mongodb2 in","z":"b21e649e.a3ab08","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"Developer","operation":"update","x":373.3333435058594,"y":162,"wires":[["fe3df3c7.3391e"]]},{"id":"11562289.e7131d","type":"inject","z":"b21e649e.a3ab08","name":"Inject filter","topic":"","payload":"{\"_id\":\"5dcbb397ca092d2594ccd944\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":102.5,"y":233.22219848632812,"wires":[["59d904d0.13b1cc"]]},{"id":"fe3df3c7.3391e","type":"debug","z":"b21e649e.a3ab08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":657,"y":234.22219848632812,"wires":[]},{"id":"a73f7a91.027928","type":"http in","z":"b2fcd4da.47ff68","name":"","url":"/updatePartner/:id","method":"put","upload":false,"swaggerDoc":"","x":143.23330688476562,"y":280.7000732421875,"wires":[["2faef681.1e863a"]]},{"id":"332c8ed5.2929c2","type":"mongodb2 in","z":"b2fcd4da.47ff68","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"Developer","operation":"save","x":418.23321533203125,"y":422.8333740234375,"wires":[["76c89dce.c83204","daa9889d.99c428"]]},{"id":"daa9889d.99c428","type":"http response","z":"b2fcd4da.47ff68","name":"","statusCode":"","headers":{},"x":722.2332763671875,"y":538.433349609375,"wires":[]},{"id":"62493118.363e2","type":"template","z":"b2fcd4da.47ff68","name":"Web Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n        $(function () {\n            var db = {{#payload}}{{{.}}}{{/payload}};\n                $(\"#jsgrid\").jsGrid({\n                    width: \"100%\",\n                    inserting: true,\n                    editing: true,\n                    sorting: true,\n                    paging: true,\n\n                    data: db,\n\n                    fields: [\n                        { title:\"Nom\", name: \"nom\", type: \"text\", width: 50 },\n                        { title:\"Prénom\", name: \"prenom\", type: \"text\", width: 50 },\n                        { title:\"Plaque\", name: \"immatriculation\", type: \"text\", width: 50 },\n                        { title:\"Heure\", name: \"heure\", type:\"number\", width: 25},\n                        { title:\"Minute\", align:\"left\",  name: \"minute\", type:\"number\" , width: 25},\n                        { type: \"control\" }\n                    ],\n               \n                    controller: {\n                        insertItem: function(item) {\n                            return $.ajax({\n                                type: \"POST\",\n                                url: \"/insert\",\n                                data: item\n                            });\n                        },\n                        updateItem: function(item) {\n                           return $.ajax({\n                                type: \"PUT\",\n                                url: \"/update\",\n                                data: item\n                            });\n                        },\n                        deleteItem: function(item) {\n                            return $.ajax({\n                                type: \"DELETE\",\n                                url: \"/delete\",\n                                data: item\n                            });\n                        }\n                    }   \n                });\n            });\n    \n  </script>\n</head>\n<body class=\"container\">\n    <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n\n","x":626.9999389648438,"y":227.3000030517578,"wires":[["ac3b6cd9.4d2c7"]]},{"id":"a20e8e36.3ac91","type":"http in","z":"b2fcd4da.47ff68","name":"","url":"/getPartners","method":"get","upload":false,"swaggerDoc":"","x":144,"y":136.30000495910645,"wires":[["a5e6e758.001e28"]]},{"id":"ac3b6cd9.4d2c7","type":"http response","z":"b2fcd4da.47ff68","name":"","x":738.9998779296875,"y":118.53334045410156,"wires":[]},{"id":"a5e6e758.001e28","type":"mongodb2 in","z":"b2fcd4da.47ff68","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"find.toArray","x":291.1166648864746,"y":215.99999809265137,"wires":[["79aff0e1.6b4f6"]]},{"id":"79aff0e1.6b4f6","type":"json","z":"b2fcd4da.47ff68","name":"","property":"payload","action":"","pretty":false,"x":508,"y":127,"wires":[["62493118.363e2"]]},{"id":"3788d9d8.4bb7d6","type":"mongodb2 in","z":"b2fcd4da.47ff68","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"insert","x":232.11652374267578,"y":630.1334156990051,"wires":[["efd58ba2.c563e8"]]},{"id":"1e8440a2.2818cf","type":"http response","z":"b2fcd4da.47ff68","name":"","x":572.1165199279785,"y":636.7333836555481,"wires":[]},{"id":"55e656fa.7fcfb8","type":"http in","z":"b2fcd4da.47ff68","name":"","url":"/newPartner","method":"post","upload":false,"swaggerDoc":"","x":156,"y":533.9501881599426,"wires":[["3788d9d8.4bb7d6"]]},{"id":"87b7139a.2289b","type":"http in","z":"b2fcd4da.47ff68","name":"","url":"/deletePartner/:id","method":"delete","upload":false,"swaggerDoc":"","x":190.00000762939453,"y":733.9501953125,"wires":[["4a1e2f31.53e88"]]},{"id":"4a1e2f31.53e88","type":"mongodb2 in","z":"b2fcd4da.47ff68","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"findOneAndDelete","x":330.11663818359375,"y":828.0001220703125,"wires":[["74912772.fc6908","4cef87c0.233a98"]]},{"id":"74912772.fc6908","type":"http response","z":"b2fcd4da.47ff68","name":"","statusCode":"","headers":{},"x":618.9999389648438,"y":736.533447265625,"wires":[]},{"id":"efd58ba2.c563e8","type":"function","z":"b2fcd4da.47ff68","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":472.11676025390625,"y":536.0001220703125,"wires":[["1e8440a2.2818cf"]]},{"id":"7e0223cb.0f82dc","type":"comment","z":"b2fcd4da.47ff68","name":"database collection information","info":"The collection is named LicensePlate. \nEach document format is :\n```JavaScript\n{\n    \"_id\": ObjectID(\"585a4732ac11400192a60b85\"),\n    \"nom\": \"riotte\",\n    \"prenom\": \"françois\",\n    \"immatriculation\": \"123456\",\n    \"heure\": \"13\",\n    \"minute\": \"30\"\n}\n```","x":393.0000305175781,"y":44.00000190734863,"wires":[]},{"id":"76c89dce.c83204","type":"debug","z":"b2fcd4da.47ff68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":365,"wires":[]},{"id":"89560903.b010e8","type":"debug","z":"b2fcd4da.47ff68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540.9999694824219,"y":298,"wires":[]},{"id":"edc6ac24.c2c75","type":"http in","z":"b2fcd4da.47ff68","name":"","url":"/getPartner/:id","method":"get","upload":false,"swaggerDoc":"","x":166,"y":951.7666625976562,"wires":[["a9132fc7.fe772"]]},{"id":"a7066387.86e34","type":"http response","z":"b2fcd4da.47ff68","name":"","x":631.9998779296875,"y":940,"wires":[]},{"id":"a9132fc7.fe772","type":"mongodb2 in","z":"b2fcd4da.47ff68","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"Developer","operation":"findOne","x":295.1166687011719,"y":1031.4666748046875,"wires":[["b031877c.9966a8"]]},{"id":"b031877c.9966a8","type":"json","z":"b2fcd4da.47ff68","name":"","property":"payload","action":"obj","pretty":false,"x":455,"y":950.4666748046875,"wires":[["23665c75.668a84","a7066387.86e34"]]},{"id":"23665c75.668a84","type":"debug","z":"b2fcd4da.47ff68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":606.5,"y":1042,"wires":[]},{"id":"4cef87c0.233a98","type":"debug","z":"b2fcd4da.47ff68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":671,"y":831,"wires":[]},{"id":"2faef681.1e863a","type":"function","z":"b2fcd4da.47ff68","name":"","func":"// var newMsg = {};\n// newMsg.collection = 'Developer';\n// newMsg.operation  = 'updateOne';\n// // newMsg.operation  = 'insert';\n// newMsg.payload    = \n// { $set: { \n//     '_id': msg.req.params.id,\n//     'firstName': msg.payload.firstName,\n// 'lastName': msg.payload.lastName,\n// 'email': msg.payload.email,\n// 'position' : msg.payload.position,\n// 'experience' : msg.payload.experience\n// } };\n// return newMsg;\nmsg.payload = {\n    '_id' : '5dcbb397ca092d2594ccd944',\n        'firstName': 'ads',\n        'lastName': 'sds',\n        'email': '',\n        'position' : '',\n        'experience' : ''\n}\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":324,"wires":[["89560903.b010e8","b1870b4b.042dd8"]]},{"id":"baf34d2.d1394b","type":"inject","z":"48fb0eed.e72ff","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":116,"y":50,"wires":[["516faebc.a27a7"]]},{"id":"516faebc.a27a7","type":"function","z":"48fb0eed.e72ff","name":"Set Some data","func":"return {payload:{key:\"gokul\"}};","outputs":1,"noerr":0,"x":139,"y":130,"wires":[["3028892.8450576"]]},{"id":"33554da2.d0ef62","type":"debug","z":"48fb0eed.e72ff","name":"","active":true,"console":"false","complete":"true","x":582,"y":130,"wires":[]},{"id":"114aaee7.cfaf21","type":"jwt sign","z":"48fb0eed.e72ff","name":"","alg":"RS256","exp":3600,"jwkurl":"","jwkkid":"","secret":"test","key":"","signvar":"payload","storetoken":"token","x":548,"y":34,"wires":[[]]},{"id":"5a8baaf1.ce25c4","type":"jwt verify","z":"48fb0eed.e72ff","name":"","alg":["RS256","RS384","RS512"],"jwkurl":"","secret":"test","key":"","signvar":"token","storetoken":"topic","x":378,"y":134,"wires":[["33554da2.d0ef62"]]},{"id":"3028892.8450576","type":"JsonWebToken","z":"48fb0eed.e72ff","name":"token","tokenconfig":"9a1611d6.9b502","x":336.5,"y":43,"wires":[["f8ea4742.cda978","5a8baaf1.ce25c4"]]},{"id":"f8ea4742.cda978","type":"debug","z":"48fb0eed.e72ff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":558.5,"y":70,"wires":[]},{"id":"ec379c2f.d224c","type":"debug","z":"9c3982b3.a1aa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":613.3828125,"y":406.72265625,"wires":[]},{"id":"b1870b4b.042dd8","type":"json","z":"b2fcd4da.47ff68","name":"","property":"payload","action":"obj","pretty":false,"x":327.5,"y":365,"wires":[["332c8ed5.2929c2"]]},{"id":"2506c8f2.47dbf8","type":"debug","z":"b21e649e.a3ab08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":527.5,"y":343,"wires":[]},{"id":"2003c769.e49968","type":"http in","z":"a6093058.1b37c","name":"","url":"/validateUser","method":"post","upload":false,"swaggerDoc":"","x":144,"y":139,"wires":[["5d20a44f.a4010c"]]},{"id":"5aa3cebf.f2e38","type":"http response","z":"a6093058.1b37c","name":"","x":609.9998779296875,"y":127.23333740234375,"wires":[]},{"id":"5d20a44f.a4010c","type":"mongodb2 in","z":"a6093058.1b37c","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"Users","operation":"findOne","x":253.11666870117188,"y":218.70001220703125,"wires":[["a2392080.98ebe"]]},{"id":"bf046771.4f1838","type":"debug","z":"a6093058.1b37c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":684.5,"y":244.23333740234375,"wires":[]},{"id":"a2392080.98ebe","type":"function","z":"a6093058.1b37c","name":"","func":"msg.payload = (msg.payload !== null)? msg.payload: { 'status':'Error','message':'Invalid User'};\nreturn msg;","outputs":1,"noerr":0,"x":468.5,"y":256,"wires":[["bf046771.4f1838","3f426045.bf0fa"]]},{"id":"3f426045.bf0fa","type":"json","z":"a6093058.1b37c","name":"","property":"payload","action":"obj","pretty":false,"x":520.5,"y":172,"wires":[["5aa3cebf.f2e38"]]},{"id":"b001e45b.45d268","type":"http in","z":"48fb0eed.e72ff","name":"","url":"/getToken","method":"get","upload":false,"swaggerDoc":"","x":133.5,"y":219,"wires":[["25177af9.f03db6"]]},{"id":"e99c18cd.d61a98","type":"http in","z":"48fb0eed.e72ff","name":"","url":"/verifyToken","method":"post","upload":false,"swaggerDoc":"","x":134.5,"y":353,"wires":[["8ad98bae.9f5bc8"]]},{"id":"25177af9.f03db6","type":"JsonWebToken","z":"48fb0eed.e72ff","name":"token","tokenconfig":"9a1611d6.9b502","x":313.5,"y":221,"wires":[["9107ee0a.2cada"]]},{"id":"b0ce04f8.d932f8","type":"JsonWebToken","z":"48fb0eed.e72ff","name":"token","tokenconfig":"9a1611d6.9b502","x":404.5,"y":344,"wires":[["e042e91.1fab618"]]},{"id":"9107ee0a.2cada","type":"change","z":"48fb0eed.e72ff","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":475.5,"y":222,"wires":[["cccb51da.388c8","b9328e2a.f69e"]]},{"id":"cccb51da.388c8","type":"http response","z":"48fb0eed.e72ff","name":"","statusCode":"","headers":{},"x":707.5,"y":217,"wires":[]},{"id":"8ad98bae.9f5bc8","type":"function","z":"48fb0eed.e72ff","name":"","func":"msg.token = msg.req.body.access_token;  \nreturn msg;","outputs":1,"noerr":0,"x":266.5,"y":413,"wires":[["b0ce04f8.d932f8"]]},{"id":"e042e91.1fab618","type":"function","z":"48fb0eed.e72ff","name":"","func":"msg.payload = msg.token;  \nreturn msg;","outputs":1,"noerr":0,"x":510.5,"y":416,"wires":[["1952fb3c.04e5d5","b537cb45.0cf2b8"]]},{"id":"1952fb3c.04e5d5","type":"http response","z":"48fb0eed.e72ff","name":"","statusCode":"","headers":{},"x":697.5,"y":347,"wires":[]},{"id":"b537cb45.0cf2b8","type":"debug","z":"48fb0eed.e72ff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":675.5,"y":459,"wires":[]},{"id":"b9328e2a.f69e","type":"debug","z":"48fb0eed.e72ff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":583.5,"y":275,"wires":[]},{"id":"9bd37f30.10a55","type":"inject","z":"a6093058.1b37c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":147.5,"y":477,"wires":[["8aa38f50.fa3a7"]]},{"id":"8aa38f50.fa3a7","type":"function","z":"a6093058.1b37c","name":"","func":"msg.payload = {\n      \"id\": 2,\n      \"name\": \"An ice sculpture\",\n   }\nreturn msg;","outputs":1,"noerr":0,"x":254.5,"y":389,"wires":[["9e57e31e.afe01"]]},{"id":"3d3d6a54.54db16","type":"mongodb3 in","z":"a6093058.1b37c","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Users","operation":"save","x":530.5,"y":416,"wires":[["5feb9ff9.a2a27","c8d77f46.9dda1"]]},{"id":"5feb9ff9.a2a27","type":"debug","z":"a6093058.1b37c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710.5,"y":540,"wires":[]},{"id":"5088996.4168668","type":"mongodb3 in","z":"a6093058.1b37c","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"address","operation":"save","x":577,"y":591,"wires":[["6eec9bf7.d935a4"]]},{"id":"6eec9bf7.d935a4","type":"debug","z":"a6093058.1b37c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":708,"wires":[]},{"id":"c8d77f46.9dda1","type":"function","z":"a6093058.1b37c","name":"","func":"msg.payload = {\n    'address': 'asdasd',\n    'userid': msg.payload.ops[0]._id\n}\nreturn msg;","outputs":1,"noerr":0,"x":287.5,"y":649,"wires":[["b2dff62a.15a368","5088996.4168668"]]},{"id":"b2dff62a.15a368","type":"debug","z":"a6093058.1b37c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":393.5,"y":770,"wires":[]},{"id":"6e2c4228.dbc08c","type":"inject","z":"a6093058.1b37c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":166.5,"y":898,"wires":[["5f6c3d07.e06284"]]},{"id":"5f6c3d07.e06284","type":"function","z":"a6093058.1b37c","name":"Merge Objects","func":"// obj1 = { id: '1',name:'gokul'};\n// obj2 = { id: '2',name:'Kannan'};\n\n// msg.payload = {...obj1, ...obj2};\n\nmsg.payload = {\n    user:{\n        name: 'user'\n    },\n    company:{\n        name:'comapny name'\n    }\n};\n\ndelete msg.payload.company;\nreturn msg;","outputs":1,"noerr":0,"x":360.5,"y":935,"wires":[["bb499714.589778"]]},{"id":"bb499714.589778","type":"debug","z":"a6093058.1b37c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":722.5,"y":933,"wires":[]},{"id":"948cb6e1.be50d8","type":"http in","z":"e3473df1.27c86","name":"","url":"/RequsetAccess","method":"post","upload":false,"swaggerDoc":"","x":135.5,"y":66,"wires":[["2fc06b3c.202d74"]]},{"id":"26eb7213.359cce","type":"debug","z":"e3473df1.27c86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1094.5,"y":185,"wires":[]},{"id":"2fc06b3c.202d74","type":"function","z":"e3473df1.27c86","name":"Prepared data","func":"msg.user = msg.payload.user;\nmsg.company = msg.payload.company;\nmsg.address = msg.payload.address;\nmsg.payload = {\n    email: msg.user.email\n};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":180.5,"y":146,"wires":[["992ab72f.64d288"]]},{"id":"e5d58fda.174f4","type":"function","z":"e3473df1.27c86","name":"User Template","func":"userTemplate = {\n\tfirstname :'',\n\tlastname :'',\n\ttype :'P',\n\tusername :'',\n\temail :'',\n\tphone :'',\n\tpassword :'',\n\tpresent_address :'',\n\tpermanent_address :'',\n\thasCertificate : 0,\n\thasVerified : 0,\n\tdesignation :'',\n\tposition :'',\n\texperience :'',\n\tjoined :'',\n\tcreated : new Date(),\n\tstatus :'A'\n}\n\nmsg.payload = {...userTemplate, ...msg.user};\n\nreturn msg;","outputs":1,"noerr":0,"x":420.5,"y":59,"wires":[["b1b320f7.9b8f2"]]},{"id":"b1b320f7.9b8f2","type":"mongodb3 in","z":"e3473df1.27c86","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Users","operation":"save","x":481,"y":161,"wires":[["5476de00.cc3f8"]]},{"id":"5476de00.cc3f8","type":"function","z":"e3473df1.27c86","name":"Address Template","func":"addressTemplate={\n    userId: '',\n    address_line_1:'',\n\taddress_line_2:'',\n\tstreet:'',\n\tlocality:'',\n\tstate:'',\n\tcountry:'',\n\tzipcode:'',\n};\nmsg.userId = {userId : msg.payload.ops[0]._id };\ndelete msg.payload;\nmsg.payload = {...addressTemplate, ...msg.address,...msg.userId};\nreturn msg;","outputs":1,"noerr":0,"x":701.5,"y":51,"wires":[["801af371.ce1d1"]]},{"id":"18aeadfb.bd9542","type":"function","z":"e3473df1.27c86","name":"Company Template","func":"companyTemplate = {\n\tuserId: '',\n\tname: '',\n\twebsite: '',\n\tindustry: '',\n\tsize: '',\n\tregistered: new Date(),\n}\ndelete msg.payload;\nmsg.payload = {...companyTemplate, ...msg.company,...msg.userId};\nreturn msg;","outputs":1,"noerr":0,"x":509.5,"y":266,"wires":[["20135eda.760332"]]},{"id":"20135eda.760332","type":"mongodb3 in","z":"e3473df1.27c86","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"company","operation":"save","x":803,"y":244,"wires":[["26eb7213.359cce","7d9d991d.1fead8"]]},{"id":"801af371.ce1d1","type":"mongodb3 in","z":"e3473df1.27c86","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"address","operation":"save","x":781,"y":136,"wires":[["18aeadfb.bd9542"]]},{"id":"73c9d7a8.0c8a78","type":"http response","z":"e3473df1.27c86","name":"","statusCode":"","headers":{},"x":1149.5,"y":348,"wires":[]},{"id":"7d9d991d.1fead8","type":"function","z":"e3473df1.27c86","name":"Response","func":"if(msg.payload.resut.n && msg.payload.resut.ok){\n    msg.payload = { status:'success',message:'Thank you for contact us'};\n}else{\n    msg.payload = { status:'error',message:'Something went wrong!'};\n}\nreturn msg;","outputs":1,"noerr":0,"x":998.5,"y":308,"wires":[["73c9d7a8.0c8a78"]]},{"id":"992ab72f.64d288","type":"mongodb3 in","z":"e3473df1.27c86","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Users","operation":"findOne","x":181.5,"y":227,"wires":[["ed363d5.b9abcc"]]},{"id":"ed363d5.b9abcc","type":"switch","z":"e3473df1.27c86","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":311.5,"y":385,"wires":[["e5d58fda.174f4"],["1c3ef318.72992d"]]},{"id":"1c3ef318.72992d","type":"function","z":"e3473df1.27c86","name":"Response","func":"msg.payload = { status:'Error',message:'Email Already Exists'};\nreturn msg;","outputs":1,"noerr":0,"x":542.5,"y":363,"wires":[["6ea9b8f9.1998d8"]]},{"id":"6ea9b8f9.1998d8","type":"http response","z":"e3473df1.27c86","name":"","statusCode":"","headers":{},"x":728.5,"y":356,"wires":[]},{"id":"9e57e31e.afe01","type":"json-schema","z":"a6093058.1b37c","name":"product","func":"{\n   \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n   \"title\": \"Product\",\n   \"description\": \"A product from Acme's catalog\",\n   \"type\": \"object\",\n\t\n   \"properties\": {\n\t\n      \"id\": {\n         \"description\": \"The unique identifier for a product\",\n         \"type\": \"integer\"\n      },\n\t\t\n      \"name\": {\n         \"description\": \"Name of the product\",\n         \"type\": \"string\"\n      },\n\t\t\n      \"price\": {\n         \"type\": \"number\"\n      }\n   },\n\t\n   \"required\": [\"id\", \"name\",\"price\"]\n}","x":363.5,"y":488,"wires":[["3d3d6a54.54db16"]]},{"id":"904049e5.9cda18","type":"json-schema","z":"a6093058.1b37c","name":"ProductMeta","func":"{\n   \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n   \"title\": \"ProductMeta\",\n   \"description\": \"A product from Acme's catalog\",\n   \"type\": \"object\",\n\t\n   \"properties\": {\n\t\t\n      \"address\": {\n         \"type\": \"string\"\n      },\n\t\t\n      \"userid\": {\n         \"type\": \"string\"\n      }\n   },\n\t\n   \"required\": [\"address\", \"userid\"]\n}","x":475,"y":686,"wires":[[]]},{"id":"196e7834.043e38","type":"split","z":"6b332ce0.98e414","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":419.5,"y":55,"wires":[["d59b5548.2ac638"]]},{"id":"d0937ff7.9a48a","type":"join","z":"6b332ce0.98e414","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":584.5,"y":115,"wires":[["6bc4f5a3.c0614c","c231d43.ac70f28"]]},{"id":"f71052ab.90395","type":"http in","z":"6b332ce0.98e414","name":"","url":"/getPartner","method":"post","upload":false,"swaggerDoc":"","x":144.5,"y":360,"wires":[["41dc241d.a99adc"]]},{"id":"de1b9947.79ec18","type":"mongodb3 in","z":"6b332ce0.98e414","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Users","operation":"findOne","x":427.5,"y":296,"wires":[["d372d6f9.884758","2e3399bc.ee4286"]]},{"id":"d372d6f9.884758","type":"debug","z":"6b332ce0.98e414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":689.5,"y":285,"wires":[]},{"id":"2e3399bc.ee4286","type":"http response","z":"6b332ce0.98e414","name":"","statusCode":"","headers":{},"x":697.5,"y":349,"wires":[]},{"id":"dcf520bb.9572a","type":"http in","z":"6b332ce0.98e414","name":"","url":"/getPartnerCompany","method":"post","upload":false,"swaggerDoc":"","x":148,"y":447,"wires":[["1f1f516e.6d93ff"]]},{"id":"380e4d94.7367a2","type":"mongodb3 in","z":"6b332ce0.98e414","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"company","operation":"findOne","x":472,"y":427,"wires":[["d877ef2d.79a1e","76d08924.e05c68"]]},{"id":"76d08924.e05c68","type":"debug","z":"6b332ce0.98e414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":694,"y":478,"wires":[]},{"id":"d877ef2d.79a1e","type":"http response","z":"6b332ce0.98e414","name":"","statusCode":"","headers":{},"x":696,"y":402,"wires":[]},{"id":"1f1f516e.6d93ff","type":"objectid","z":"6b332ce0.98e414","name":"","selectedProperty":"userId","x":354.5,"y":514,"wires":[["380e4d94.7367a2"]]},{"id":"282b69ed.fb6896","type":"http in","z":"6b332ce0.98e414","name":"","url":"/addDeveloper","method":"post","upload":false,"swaggerDoc":"","x":144.5,"y":640,"wires":[["f807a505.4246c8"]]},{"id":"f807a505.4246c8","type":"function","z":"6b332ce0.98e414","name":"","func":"developer = {\n    userId:'',\n\tfirstname :'',\n\tlastname :'',\n\temail :'',\n\tphone :'',\n\tpresent_address :'',\n\tpresentWorkingCompany:'',\n\thasCertificate : 0,\n\tposition :'',\n\texperience :'',\n\tjoined :'',\n\tcreated : new Date(),\n\tstatus :'A'\n}\nmsg.payload = {...developer, ...msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":337.5,"y":594,"wires":[["b454e9e5.ff9df8"]]},{"id":"b454e9e5.ff9df8","type":"mongodb3 in","z":"6b332ce0.98e414","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"save","x":366.5,"y":764,"wires":[["6c959f41.6a257"]]},{"id":"3e04ef13.6d169","type":"debug","z":"6b332ce0.98e414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":679.5,"y":560,"wires":[]},{"id":"f2fa4ba0.03dae8","type":"http response","z":"6b332ce0.98e414","name":"","statusCode":"","headers":{},"x":727.5,"y":648,"wires":[]},{"id":"6c959f41.6a257","type":"function","z":"6b332ce0.98e414","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":576.5,"y":712,"wires":[["f2fa4ba0.03dae8","3e04ef13.6d169"]]},{"id":"5a886bfe.a442f4","type":"http in","z":"6b332ce0.98e414","name":"","url":"/getDevelopers","method":"post","upload":false,"swaggerDoc":"","x":134,"y":888,"wires":[["9ddbddd7.bc3bf"]]},{"id":"9ddbddd7.bc3bf","type":"mongodb3 in","z":"6b332ce0.98e414","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"find.toArray","x":416,"y":879,"wires":[["26838969.d5c196"]]},{"id":"f0546682.f275b8","type":"debug","z":"6b332ce0.98e414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":669,"y":808,"wires":[]},{"id":"62a9841e.e969dc","type":"http response","z":"6b332ce0.98e414","name":"","statusCode":"","headers":{},"x":717,"y":896,"wires":[]},{"id":"26838969.d5c196","type":"function","z":"6b332ce0.98e414","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":566,"y":960,"wires":[["62a9841e.e969dc","f0546682.f275b8"]]},{"id":"8b195444.591588","type":"http in","z":"97cc9e61.50ca2","name":"get Leads","url":"/getleads","method":"get","upload":false,"swaggerDoc":"","x":168,"y":325,"wires":[["ef6e7c7a.d2986"]]},{"id":"6f2af493.456fbc","type":"debug","z":"97cc9e61.50ca2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":964.6666666666665,"y":296.6666666666667,"wires":[]},{"id":"bd25e2b2.6f3ae","type":"http response","z":"97cc9e61.50ca2","name":"","statusCode":"","headers":{},"x":985.8333129882812,"y":358,"wires":[]},{"id":"ef6e7c7a.d2986","type":"mongodb3 in","z":"97cc9e61.50ca2","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"leads","operation":"find.toArray","x":582.9999999999999,"y":318.33333333333326,"wires":[["6f2af493.456fbc","bd25e2b2.6f3ae"]]},{"id":"41dc241d.a99adc","type":"objectid","z":"6b332ce0.98e414","name":"","selectedProperty":"_id","x":204.5,"y":289,"wires":[["de1b9947.79ec18"]]},{"id":"b498097e.2fb748","type":"http in","z":"6b332ce0.98e414","name":"","url":"/getPartnerAgreement","method":"post","upload":false,"swaggerDoc":"","x":156,"y":1145,"wires":[["65337fb4.d64aa"]]},{"id":"eac972d.2e3c19","type":"mongodb3 in","z":"6b332ce0.98e414","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"media","operation":"find.toArray","x":409,"y":1081,"wires":[["9786905b.cd1f9","28a80f63.dbe13"]]},{"id":"9786905b.cd1f9","type":"debug","z":"6b332ce0.98e414","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":661,"y":1070,"wires":[]},{"id":"28a80f63.dbe13","type":"http response","z":"6b332ce0.98e414","name":"","statusCode":"","headers":{},"x":669,"y":1134,"wires":[]},{"id":"65337fb4.d64aa","type":"objectid","z":"6b332ce0.98e414","name":"","selectedProperty":"_id","x":176,"y":1074,"wires":[["eac972d.2e3c19"]]}]