flows/user-data/nr-flows.json
[{"id":"89066d97.b7fb6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8682e203.b2dea","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/AngularUserDetails","name":"db","options":"","parallelism":"-1"},{"id":"9b2b08c9.cd5148","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/AngularUserDetails","name":"mongodb ","options":"","parallelism":"-1"},{"id":"4b91b6ac.116938","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":40,"wires":[]},{"id":"8141e2bc.51e47","type":"http in","z":"89066d97.b7fb6","name":"save partner data","url":"/addpartnerdata","method":"post","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["e9f730fb.f3247"]]},{"id":"7ddd356e.9c2b2c","type":"http response","z":"89066d97.b7fb6","name":"addpartner","statusCode":"","headers":{},"x":1010,"y":140,"wires":[]},{"id":"79ccf90b.26d418","type":"http in","z":"89066d97.b7fb6","name":"Login Partner ","url":"/Loginpartner","method":"get","upload":false,"swaggerDoc":"","x":90,"y":240,"wires":[["dbb1c8b6.583738"]]},{"id":"b432d960.91fb48","type":"http response","z":"89066d97.b7fb6","name":"partner data","statusCode":"","headers":{},"x":1190,"y":300,"wires":[]},{"id":"d0a3743a.e9c188","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":240,"wires":[]},{"id":"bf5addb7.d72a4","type":"comment","z":"89066d97.b7fb6","name":"database collection information","info":"The collection is named LicensePlate. \nEach document format is :\n```JavaScript\n{\n    \"_id\": ObjectID(\"585a4732ac11400192a60b85\"),\n    \"nom\": \"riotte\",\n    \"prenom\": \"françois\",\n    \"immatriculation\": \"123456\",\n    \"heure\": \"13\",\n    \"minute\": \"30\"\n}\n```","x":1850,"y":1560,"wires":[]},{"id":"926d1bb0.78d7c8","type":"http in","z":"89066d97.b7fb6","name":"partner list","url":"/getpartnerdata","method":"get","upload":false,"swaggerDoc":"","x":80,"y":380,"wires":[["13f0d6f5.fd4ac9"]]},{"id":"728ba28d.f7338c","type":"http response","z":"89066d97.b7fb6","name":"partner data","statusCode":"","headers":{},"x":1190,"y":440,"wires":[]},{"id":"c088d441.1bb148","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":380,"wires":[]},{"id":"ce3c48f8.b091b8","type":"http in","z":"89066d97.b7fb6","name":"get leads data","url":"/getleadsdata","method":"get","upload":false,"swaggerDoc":"","x":150,"y":2000,"wires":[["7524e74d.4b8ff8"]]},{"id":"4e819c81.1b8d04","type":"http in","z":"89066d97.b7fb6","name":"delete partner data","url":"/deletepartner","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":1420,"wires":[["d7698aaf.d0d3a8"]]},{"id":"d7698aaf.d0d3a8","type":"function","z":"89066d97.b7fb6","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1420,"wires":[["1ac7bf08.aaca11"]]},{"id":"6742c9fd.ede358","type":"http response","z":"89066d97.b7fb6","name":"delete partner","statusCode":"","headers":{},"x":1120,"y":1480,"wires":[]},{"id":"9075d841.2d1058","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1380,"wires":[]},{"id":"3cb8c197.e29e5e","type":"http in","z":"89066d97.b7fb6","name":"delete channel members","url":"/deletechanneM","method":"delete","upload":false,"swaggerDoc":"","x":190,"y":1240,"wires":[["ea6fd08d.5ace9"]]},{"id":"ea6fd08d.5ace9","type":"function","z":"89066d97.b7fb6","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1240,"wires":[["eb7f0f70.1add1"]]},{"id":"c732a624.048628","type":"http response","z":"89066d97.b7fb6","name":"delete channel","statusCode":"","headers":{},"x":1120,"y":1280,"wires":[]},{"id":"c432bbd3.1b8508","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1200,"wires":[]},{"id":"593bdcb5.1e4604","type":"http in","z":"89066d97.b7fb6","name":"save leads data","url":"/saveleadsdata","method":"post","upload":false,"swaggerDoc":"","x":160,"y":1580,"wires":[["30dcbb24.9a37d4"]]},{"id":"a9967469.9524b8","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":1540,"wires":[]},{"id":"6ad46b35.88a2b4","type":"http response","z":"89066d97.b7fb6","name":"leads data","statusCode":"","headers":{},"x":1130,"y":1620,"wires":[]},{"id":"cfe7ac19.7bbe4","type":"http in","z":"89066d97.b7fb6","name":"developers data ","url":"/savedeveloperdata","method":"post","upload":false,"swaggerDoc":"","x":160,"y":1700,"wires":[["e3986f81.848f2"]]},{"id":"e300688c.84f9a8","type":"http response","z":"89066d97.b7fb6","name":"developers data","statusCode":"","headers":{},"x":1160,"y":1740,"wires":[]},{"id":"f1f647ba.313478","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":1680,"wires":[]},{"id":"4fd0d99e.e2b9c8","type":"http in","z":"89066d97.b7fb6","name":"delete leads data","url":"/deleteleads","method":"delete","upload":false,"swaggerDoc":"","x":160,"y":1840,"wires":[["cd45bd10.a50ab"]]},{"id":"cd45bd10.a50ab","type":"function","z":"89066d97.b7fb6","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1840,"wires":[["1c44abdc.dc81e4"]]},{"id":"edfd82de.e350d","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1800,"wires":[]},{"id":"69483a94.76e234","type":"http response","z":"89066d97.b7fb6","name":"delete lead","statusCode":"","headers":{},"x":1130,"y":1880,"wires":[]},{"id":"91358c2b.6fb6b","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":1960,"wires":[]},{"id":"acadb0a9.f4466","type":"http response","z":"89066d97.b7fb6","name":"get leads","statusCode":"","headers":{},"x":1140,"y":2040,"wires":[]},{"id":"a03c813b.a90a3","type":"http in","z":"89066d97.b7fb6","name":"get developers data ","url":"/getdevelopers","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2120,"wires":[["298d757f.39e06a"]]},{"id":"32bc220.72c00de","type":"http response","z":"89066d97.b7fb6","name":"developers data","statusCode":"","headers":{},"x":1160,"y":2160,"wires":[]},{"id":"63535781.2536f8","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":2100,"wires":[]},{"id":"cbdf1157.838ac","type":"http response","z":"89066d97.b7fb6","name":"channel data","statusCode":"","headers":{},"x":1130,"y":920,"wires":[]},{"id":"6aab6984.e44ad8","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":840,"wires":[]},{"id":"92a11668.17db08","type":"http in","z":"89066d97.b7fb6","name":"Save channel data","url":"/channeldata","method":"post","upload":false,"swaggerDoc":"","x":90,"y":860,"wires":[["fc8aa540.49a7a8"]]},{"id":"af4294ae.e1ec38","type":"http in","z":"89066d97.b7fb6","name":"get perticular Partner ","url":"/getPerticularPartner","method":"get","upload":false,"swaggerDoc":"","x":120,"y":560,"wires":[["75c4b28e.10318c"]]},{"id":"a6432337.9b3b2","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":520,"wires":[]},{"id":"95457338.f43aa","type":"http response","z":"89066d97.b7fb6","name":"get partner data ","statusCode":"","headers":{},"x":1220,"y":620,"wires":[]},{"id":"75c4b28e.10318c","type":"function","z":"89066d97.b7fb6","name":"Extract id","func":"msg._id= msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":560,"wires":[["5cb08b57.b9f834"]]},{"id":"beaae6bc.9803b8","type":"http in","z":"89066d97.b7fb6","name":"Login member","url":"/LoginMember","method":"get","upload":false,"swaggerDoc":"","x":90,"y":720,"wires":[["2b68ded8.0e5382"]]},{"id":"6058ab57.0cdd44","type":"http response","z":"89066d97.b7fb6","name":"partner data","statusCode":"","headers":{},"x":1190,"y":780,"wires":[]},{"id":"9c6b9885.970878","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":720,"wires":[]},{"id":"fd46bb9d.fbb2b8","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"deleteOne","x":750,"y":1420,"wires":[["6742c9fd.ede358","9075d841.2d1058"]]},{"id":"695f4ca7.5dc7d4","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"ChannelMember","operation":"deleteOne","x":790,"y":1240,"wires":[["c732a624.048628","c432bbd3.1b8508"]]},{"id":"e9f730fb.f3247","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"save","x":560,"y":60,"wires":[["4b91b6ac.116938","7ddd356e.9c2b2c"]]},{"id":"dbb1c8b6.583738","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":680,"y":240,"wires":[["d0a3743a.e9c188","b432d960.91fb48"]]},{"id":"13f0d6f5.fd4ac9","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":680,"y":380,"wires":[["c088d441.1bb148","728ba28d.f7338c"]]},{"id":"30dcbb24.9a37d4","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"save","x":680,"y":1580,"wires":[["a9967469.9524b8","6ad46b35.88a2b4"]]},{"id":"e3986f81.848f2","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"save","x":650,"y":1700,"wires":[["f1f647ba.313478","e300688c.84f9a8"]]},{"id":"7524e74d.4b8ff8","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"find.toArray","x":640,"y":2000,"wires":[["91358c2b.6fb6b","acadb0a9.f4466"]]},{"id":"298d757f.39e06a","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"find.toArray","x":670,"y":2120,"wires":[["63535781.2536f8","32bc220.72c00de"]]},{"id":"fc8aa540.49a7a8","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"ChannelMember","operation":"save","x":510,"y":860,"wires":[["6aab6984.e44ad8","cbdf1157.838ac"]]},{"id":"7565a141.4ed1e","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"findOne","x":630,"y":560,"wires":[["a6432337.9b3b2","95457338.f43aa"]]},{"id":"d09e8cb3.12fa2","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"channelmember ","operation":"find.toArray","x":710,"y":720,"wires":[[]]},{"id":"1ac7bf08.aaca11","type":"objectid","z":"89066d97.b7fb6","name":"","selectedProperty":"_id","x":570,"y":1420,"wires":[["fd46bb9d.fbb2b8"]]},{"id":"eb7f0f70.1add1","type":"objectid","z":"89066d97.b7fb6","name":"","selectedProperty":"_id","x":570,"y":1240,"wires":[["695f4ca7.5dc7d4"]]},{"id":"1c44abdc.dc81e4","type":"objectid","z":"89066d97.b7fb6","name":"","selectedProperty":"_id","x":570,"y":1840,"wires":[["59fe665c.f21208"]]},{"id":"5cb08b57.b9f834","type":"objectid","z":"89066d97.b7fb6","name":"","selectedProperty":"_id","x":430,"y":560,"wires":[["7565a141.4ed1e"]]},{"id":"2b68ded8.0e5382","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"channelmember","operation":"find.toArray","x":710,"y":662.6000061035156,"wires":[["6058ab57.0cdd44","9c6b9885.970878"]]},{"id":"59fe665c.f21208","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"deleteOne","x":788.3333053588867,"y":1838.3332843780518,"wires":[["edfd82de.e350d","69483a94.76e234"]]},{"id":"33162e83.ce4872","type":"http in","z":"89066d97.b7fb6","name":"get perticular Partner ","url":"/getPerticularPartner","method":"get","upload":false,"swaggerDoc":"","x":135,"y":1061.6666259765625,"wires":[["28aa0509.1a0f4a"]]},{"id":"102376f6.85f329","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1195,"y":1021.6666259765625,"wires":[]},{"id":"bca8793f.7db928","type":"http response","z":"89066d97.b7fb6","name":"get partner data ","statusCode":"","headers":{},"x":1235,"y":1121.6666259765625,"wires":[]},{"id":"28aa0509.1a0f4a","type":"function","z":"89066d97.b7fb6","name":"Extract id","func":"msg._id= msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":1061.6666259765625,"wires":[["d4aa3d20.a8f4d"]]},{"id":"6c3ed5f1.0d88bc","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"findOne","x":645,"y":1061.6666259765625,"wires":[["102376f6.85f329","bca8793f.7db928"]]},{"id":"d4aa3d20.a8f4d","type":"objectid","z":"89066d97.b7fb6","name":"","selectedProperty":"_id","x":445,"y":1061.6666259765625,"wires":[["6c3ed5f1.0d88bc"]]},{"id":"1cad92e2.857f1d","type":"http in","z":"89066d97.b7fb6","name":"","url":"/email","method":"post","upload":false,"swaggerDoc":"","x":113,"y":151,"wires":[["e5eab779.5db8e8"]]},{"id":"e5eab779.5db8e8","type":"function","z":"89066d97.b7fb6","name":"","func":"msg.topic=\"Message From \"+msg.req.body.firstname;\nfullname=msg.req.body.firstname+\" \"+msg.req.body.lastname;\ncompanyname=msg.req.body.companyname;\nemail=msg.req.body.companyemail;\njobrole=msg.req.body.jobroles;\nindustry=msg.req.body.industryname;\nmobile=msg.req.body.mobilenumber;\nsize=msg.req.body.compsize;\ncountry=msg.req.body.countryname;\nmessage=msg.req.body.message;\n\nmsg.payload=\"Full Name: \"+fullname+\"<br>Company Name: \"+companyname+\"<br>Email: \"+email+\"<br>Role: \"+jobrole+\"<br>Industry: \"+industry+\"<br>Mobile Number: \"+mobile+\"<br>Country: \"+country+\"<br>Company Size: \"+size+\"<br>Feedback: \"+message;\n\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":157.00000190734863,"wires":[["8db888ea.71eb48","6d80bc0c.37ee64"]]},{"id":"8db888ea.71eb48","type":"e-mail","z":"89066d97.b7fb6","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"niteshd30@gmail.com","dname":"","x":615.0000076293945,"y":139.00000190734863,"wires":[]},{"id":"6d80bc0c.37ee64","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":611.0000076293945,"y":187.00000190734863,"wires":[]},{"id":"ecb02bc6.7a0fc8","type":"http in","z":"89066d97.b7fb6","name":"delete leads data","url":"/deletedeveloper","method":"delete","upload":false,"swaggerDoc":"","x":175,"y":2255,"wires":[["4d97e5f3.4a009c"]]},{"id":"4d97e5f3.4a009c","type":"function","z":"89066d97.b7fb6","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":2255,"wires":[["c0b1bf58.95d1e"]]},{"id":"f2fe5ca7.c085c","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1105,"y":2215,"wires":[]},{"id":"9e649442.7c8098","type":"http response","z":"89066d97.b7fb6","name":"delete lead","statusCode":"","headers":{},"x":1145,"y":2295,"wires":[]},{"id":"c0b1bf58.95d1e","type":"objectid","z":"89066d97.b7fb6","name":"","selectedProperty":"_id","x":585,"y":2255,"wires":[["335190db.d5d7a"]]},{"id":"335190db.d5d7a","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"deleteOne","x":813.3333053588867,"y":2253.3332843780518,"wires":[["f2fe5ca7.c085c","9e649442.7c8098"]]},{"id":"71cd58c3.bc06e8","type":"http in","z":"89066d97.b7fb6","name":"","url":"/update","method":"put","upload":false,"swaggerDoc":"","x":1074.9999389648438,"y":3963.33349609375,"wires":[["9e218bfa.8792c8"]]},{"id":"ffe2704c.01827","type":"http response","z":"89066d97.b7fb6","name":"","x":2584.9999389648438,"y":3903.33349609375,"wires":[]},{"id":"9cd11026.602df","type":"function","z":"89066d97.b7fb6","name":"update request","func":"\nmsg.result=msg.req.body;\ndelete msg.req.body._id;\nmsg.payload=[\n   msg.payload,\n   msg.req.body\n    ];\nreturn msg;\n\n","outputs":"1","noerr":0,"x":1774.9999389648438,"y":3903.33349609375,"wires":[["389c568f.0c6f6a"]]},{"id":"9e218bfa.8792c8","type":"function","z":"89066d97.b7fb6","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":1304.9999389648438,"y":3943.33349609375,"wires":[["d8feece3.80274"]]},{"id":"293c2e58.702d72","type":"http in","z":"89066d97.b7fb6","name":"","url":"/plates","method":"get","swaggerDoc":"","x":1094.9999389648438,"y":3863.33349609375,"wires":[["52863666.f24878"]]},{"id":"1a1a9f5a.f4a841","type":"http response","z":"89066d97.b7fb6","name":"","x":2184.9999389648438,"y":3783.33349609375,"wires":[]},{"id":"504f48c7.837168","type":"function","z":"89066d97.b7fb6","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":2344.9999389648438,"y":3823.33349609375,"wires":[["ffe2704c.01827","f6d6d6bf.2fe998"]]},{"id":"4719721b.51e7fc","type":"http response","z":"89066d97.b7fb6","name":"","x":2324.9999389648438,"y":3983.33349609375,"wires":[]},{"id":"242c6667.d0819a","type":"http in","z":"89066d97.b7fb6","name":"","url":"/insert","method":"post","swaggerDoc":"","x":1074.9999389648438,"y":4023.33349609375,"wires":[["71f00be5.042064"]]},{"id":"d04f4567.2471c8","type":"function","z":"89066d97.b7fb6","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":2044.9999389648438,"y":4003.33349609375,"wires":[["4719721b.51e7fc"]]},{"id":"53840750.7b3888","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2644.9999389648438,"y":3763.33349609375,"wires":[]},{"id":"71f00be5.042064","type":"json","z":"89066d97.b7fb6","name":"","property":"payload","action":"obj","pretty":false,"x":1424.9999389648438,"y":4003.33349609375,"wires":[["81b5f1de.81f04"]]},{"id":"d8b5e9f5.ab3308","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2304.9999389648438,"y":3903.33349609375,"wires":[]},{"id":"f6d6d6bf.2fe998","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2604.9999389648438,"y":3803.33349609375,"wires":[]},{"id":"9772b772.8bcba8","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"LicencePlate","operation":"update","x":2044.9999389648438,"y":3883.33349609375,"wires":[[]]},{"id":"52863666.f24878","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"find.toArray","x":1634.9999389648438,"y":3803.33349609375,"wires":[["53840750.7b3888","1a1a9f5a.f4a841"]]},{"id":"3c3223f4.514dec","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"user","operation":"insert","x":1774.9999389648438,"y":3983.33349609375,"wires":[["d04f4567.2471c8"]]},{"id":"81b5f1de.81f04","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"save","x":1634.9999389648438,"y":3943.33349609375,"wires":[["4719721b.51e7fc","d8b5e9f5.ab3308"]]},{"id":"389c568f.0c6f6a","type":"mongodb2 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"update","x":2034.9999389648438,"y":3823.33349609375,"wires":[["504f48c7.837168"]]},{"id":"d8feece3.80274","type":"objectid","z":"89066d97.b7fb6","name":"","selectedProperty":"_id","x":1484.9999389648438,"y":3903.33349609375,"wires":[["9cd11026.602df"]]},{"id":"2fbb5ba0.836884","type":"http in","z":"89066d97.b7fb6","name":"","url":"/usersadd","method":"post","upload":false,"swaggerDoc":"","x":295.833272298177,"y":4265.000162760416,"wires":[["ec6bd036.6fcdf"]]},{"id":"ec6bd036.6fcdf","type":"function","z":"89066d97.b7fb6","name":"","func":"msg.body = msg.payload.body\nreturn msg;","outputs":1,"noerr":0,"x":402.4999465942383,"y":4335.000041007996,"wires":[["c6b5bc8b.30d2e"]]},{"id":"26ca83cb.0e08dc","type":"http response","z":"89066d97.b7fb6","name":"","statusCode":"","headers":{},"x":789.1666056315103,"y":4361.666829427083,"wires":[]},{"id":"a504badf.a61438","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":764.1666056315103,"y":4231.666829427083,"wires":[]},{"id":"c6b5bc8b.30d2e","type":"http request","z":"89066d97.b7fb6","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/createRole","tls":"","proxy":"","authType":"","x":587.4999618530273,"y":4331.666948318481,"wires":[["a504badf.a61438","26ca83cb.0e08dc"]]},{"id":"f1e0e724.b1c048","type":"http request","z":"89066d97.b7fb6","name":"","method":"DELETE","ret":"obj","paytoqs":false,"url":"http://localhost:3000/deleteOne","tls":"","proxy":"","authType":"","x":717.4999237060547,"y":4555.000295639038,"wires":[["3c9d88a4.76fca8","e3cf9d3c.5ded1"]]},{"id":"2c368637.9b558a","type":"http in","z":"89066d97.b7fb6","name":"","url":"/deleteOne","method":"delete","upload":false,"swaggerDoc":"","x":299.1665954589844,"y":4558.333303451538,"wires":[["4172f53a.08829c"]]},{"id":"4172f53a.08829c","type":"function","z":"89066d97.b7fb6","name":"","func":"msg.body = msg.payload.body\nreturn msg;","outputs":1,"noerr":0,"x":514.1666030883789,"y":4560.000133514404,"wires":[["f1e0e724.b1c048"]]},{"id":"3c9d88a4.76fca8","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":979.9999389648436,"y":4510.000162760416,"wires":[]},{"id":"e3cf9d3c.5ded1","type":"http response","z":"89066d97.b7fb6","name":"","statusCode":"","headers":{},"x":979.9999389648436,"y":4611.666829427083,"wires":[]},{"id":"6c2f9967.8f9738","type":"http in","z":"89066d97.b7fb6","name":"login","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":244.99993896484375,"y":4860,"wires":[["40ca0054.e61d8"]]},{"id":"683261d0.3c129","type":"http response","z":"89066d97.b7fb6","name":"","statusCode":"","headers":{},"x":954.9999389648438,"y":4900,"wires":[]},{"id":"788198f9.c042e8","type":"debug","z":"89066d97.b7fb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":954.9999389648438,"y":4820,"wires":[]},{"id":"1258de06.c40602","type":"http in","z":"89066d97.b7fb6","name":"","url":"/process_login","method":"post","upload":false,"swaggerDoc":"","x":274.99993896484375,"y":4980,"wires":[[]]},{"id":"40ca0054.e61d8","type":"mongodb3 in","z":"89066d97.b7fb6","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":584.9999389648438,"y":4860,"wires":[["683261d0.3c129","788198f9.c042e8"]]}]