flows/user-data/nr-flows.json
[{"id":"5807cffb.d10fb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e381a433.b887f8","type":"tab","label":"Login & Register Partner","disabled":false,"info":""},{"id":"8682e203.b2dea","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/AngularUserDetails","name":"db","options":"","parallelism":"-1"},{"id":"9b2b08c9.cd5148","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/PartnerDb","name":"mongodb ","options":"","parallelism":"-1"},{"id":"859239ea.3a8878","type":"JsonWebToken_config","z":"","name":"Secret","secret":"NeutrinosPortal"},{"id":"fda4061a.9b1778","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":40,"wires":[]},{"id":"da6433e0.18771","type":"http in","z":"5807cffb.d10fb","name":"save partner data","url":"/addpartnerdata","method":"post","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["e82590c4.f26d8"]]},{"id":"37e97de6.f587d2","type":"http response","z":"5807cffb.d10fb","name":"addpartner","statusCode":"","headers":{},"x":1010,"y":140,"wires":[]},{"id":"fdeeb12f.a6f94","type":"http in","z":"5807cffb.d10fb","name":"Login Partner ","url":"/Loginpartner","method":"get","upload":false,"swaggerDoc":"","x":90,"y":240,"wires":[["754c23f4.ef985c"]]},{"id":"691957ac.068928","type":"http response","z":"5807cffb.d10fb","name":"partner data","statusCode":"","headers":{},"x":1190,"y":300,"wires":[]},{"id":"b8eb299e.0ba448","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":240,"wires":[]},{"id":"ba6fcd49.dafe7","type":"comment","z":"5807cffb.d10fb","name":"database collection information","info":"The collection is named LicensePlate. \nEach document format is :\n```JavaScript\n{\n    \"_id\": ObjectID(\"585a4732ac11400192a60b85\"),\n    \"nom\": \"riotte\",\n    \"prenom\": \"françois\",\n    \"immatriculation\": \"123456\",\n    \"heure\": \"13\",\n    \"minute\": \"30\"\n}\n```","x":1850,"y":1560,"wires":[]},{"id":"d6f285db.9d7a38","type":"http in","z":"5807cffb.d10fb","name":"partner list","url":"/getpartnerdata","method":"get","upload":false,"swaggerDoc":"","x":80,"y":380,"wires":[["c4adf6a1.f30ac8"]]},{"id":"7742d247.415d0c","type":"http response","z":"5807cffb.d10fb","name":"partner data","statusCode":"","headers":{},"x":1190,"y":440,"wires":[]},{"id":"e334b285.2637","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":380,"wires":[]},{"id":"840b58d4.ed3bd8","type":"http in","z":"5807cffb.d10fb","name":"get leads data","url":"/getleadsdata","method":"get","upload":false,"swaggerDoc":"","x":150,"y":2000,"wires":[["bf842767.d66cb8"]]},{"id":"87308780.332618","type":"http in","z":"5807cffb.d10fb","name":"delete partner data","url":"/deletepartner","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":1420,"wires":[["e5c903cd.fff2b"]]},{"id":"e5c903cd.fff2b","type":"function","z":"5807cffb.d10fb","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1420,"wires":[["1f781efb.e3ddf1"]]},{"id":"7ba20f02.ab3cc","type":"http response","z":"5807cffb.d10fb","name":"delete partner","statusCode":"","headers":{},"x":1120,"y":1480,"wires":[]},{"id":"a65457c9.032698","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1380,"wires":[]},{"id":"8074e43f.83fc48","type":"http in","z":"5807cffb.d10fb","name":"delete channel members","url":"/deletechanneM","method":"delete","upload":false,"swaggerDoc":"","x":190,"y":1240,"wires":[["ac8c85a.c608678"]]},{"id":"ac8c85a.c608678","type":"function","z":"5807cffb.d10fb","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1240,"wires":[["d8822ea4.a40d"]]},{"id":"96039e88.fc1f2","type":"http response","z":"5807cffb.d10fb","name":"delete channel","statusCode":"","headers":{},"x":1120,"y":1280,"wires":[]},{"id":"1f0d9587.84fcda","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1200,"wires":[]},{"id":"a62657e7.48eb28","type":"http in","z":"5807cffb.d10fb","name":"save leads data","url":"/saveleadsdata","method":"post","upload":false,"swaggerDoc":"","x":160,"y":1580,"wires":[["75c4c537.b9fbec"]]},{"id":"d6f8eedf.cfe71","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":1540,"wires":[]},{"id":"38abbc91.b1d024","type":"http response","z":"5807cffb.d10fb","name":"leads data","statusCode":"","headers":{},"x":1130,"y":1620,"wires":[]},{"id":"6ea419f.0d056e8","type":"http in","z":"5807cffb.d10fb","name":"developers data ","url":"/savedevelopers","method":"post","upload":false,"swaggerDoc":"","x":160,"y":1700,"wires":[["edb29941.cdd9f8"]]},{"id":"fafc979c.b8ccf8","type":"http response","z":"5807cffb.d10fb","name":"developers data","statusCode":"","headers":{},"x":1160,"y":1740,"wires":[]},{"id":"fd7a2402.db9e38","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":1680,"wires":[]},{"id":"47e3c481.8305fc","type":"http in","z":"5807cffb.d10fb","name":"delete leads data","url":"/deleteleads","method":"delete","upload":false,"swaggerDoc":"","x":160,"y":1840,"wires":[["90284a55.d3c6c8"]]},{"id":"90284a55.d3c6c8","type":"function","z":"5807cffb.d10fb","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1840,"wires":[["c6feaa22.a39fb8"]]},{"id":"65a8ec4a.bb6e74","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1800,"wires":[]},{"id":"1394c1e1.e1cefe","type":"http response","z":"5807cffb.d10fb","name":"delete lead","statusCode":"","headers":{},"x":1130,"y":1880,"wires":[]},{"id":"1fda18d4.ac42a7","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":1960,"wires":[]},{"id":"9666b06c.db59","type":"http response","z":"5807cffb.d10fb","name":"get leads","statusCode":"","headers":{},"x":1140,"y":2040,"wires":[]},{"id":"6270f00b.317bf","type":"http in","z":"5807cffb.d10fb","name":"get developers data ","url":"/getdevelopers","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2120,"wires":[["f15f85b1.88ad48"]]},{"id":"180e5f17.2ab7e1","type":"http response","z":"5807cffb.d10fb","name":"developers data","statusCode":"","headers":{},"x":1160,"y":2160,"wires":[]},{"id":"805045f4.dd5f58","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1120,"y":2100,"wires":[]},{"id":"1250a1a2.6799fe","type":"http response","z":"5807cffb.d10fb","name":"channel data","statusCode":"","headers":{},"x":1130,"y":920,"wires":[]},{"id":"ed7bf347.c5f6f","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":840,"wires":[]},{"id":"7f420d01.52fe84","type":"http in","z":"5807cffb.d10fb","name":"Save channel data","url":"/channelmemberregistration","method":"post","upload":false,"swaggerDoc":"","x":90,"y":860,"wires":[["f0ea7ec5.b6a88"]]},{"id":"5fb192fd.95dc0c","type":"http in","z":"5807cffb.d10fb","name":"get perticular Partner ","url":"/getPerticularPartner","method":"get","upload":false,"swaggerDoc":"","x":120,"y":560,"wires":[["9a48d842.993d28"]]},{"id":"cfc1c15b.f5df1","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":520,"wires":[]},{"id":"dcb16bea.48ab18","type":"http response","z":"5807cffb.d10fb","name":"get partner data ","statusCode":"","headers":{},"x":1220,"y":620,"wires":[]},{"id":"9a48d842.993d28","type":"function","z":"5807cffb.d10fb","name":"Extract id","func":"msg._id= msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":560,"wires":[["5d4f44a3.96a12c"]]},{"id":"3a5829dc.b5af66","type":"http in","z":"5807cffb.d10fb","name":"Login member","url":"/LoginMember","method":"get","upload":false,"swaggerDoc":"","x":90,"y":720,"wires":[["ab9c65c7.e80438"]]},{"id":"802c82d3.20616","type":"http response","z":"5807cffb.d10fb","name":"partner data","statusCode":"","headers":{},"x":1190,"y":780,"wires":[]},{"id":"67d067bb.e152e8","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":720,"wires":[]},{"id":"39a2c4bb.b82b9c","type":"mongodb2 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"deleteOne","x":750,"y":1420,"wires":[["7ba20f02.ab3cc","a65457c9.032698"]]},{"id":"4a5c600a.71922","type":"mongodb2 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"ChannelMember","operation":"deleteOne","x":790,"y":1240,"wires":[["96039e88.fc1f2","1f0d9587.84fcda"]]},{"id":"e82590c4.f26d8","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"save","x":560,"y":60,"wires":[["fda4061a.9b1778","37e97de6.f587d2"]]},{"id":"754c23f4.ef985c","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":680,"y":240,"wires":[["b8eb299e.0ba448","691957ac.068928"]]},{"id":"c4adf6a1.f30ac8","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":680,"y":380,"wires":[["e334b285.2637","7742d247.415d0c"]]},{"id":"75c4c537.b9fbec","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"save","x":680,"y":1580,"wires":[["d6f8eedf.cfe71","38abbc91.b1d024"]]},{"id":"edb29941.cdd9f8","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"save","x":650,"y":1700,"wires":[["fd7a2402.db9e38","fafc979c.b8ccf8"]]},{"id":"bf842767.d66cb8","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"find.toArray","x":640,"y":2000,"wires":[["1fda18d4.ac42a7","9666b06c.db59"]]},{"id":"f15f85b1.88ad48","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"find.toArray","x":670,"y":2120,"wires":[["805045f4.dd5f58","180e5f17.2ab7e1"]]},{"id":"f0ea7ec5.b6a88","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"channelmember","operation":"save","x":510,"y":860,"wires":[["ed7bf347.c5f6f","1250a1a2.6799fe"]]},{"id":"25518772.ff4a28","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"findOne","x":630,"y":560,"wires":[["cfc1c15b.f5df1","dcb16bea.48ab18"]]},{"id":"bf9daeb1.02d2c","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"channelmember ","operation":"find.toArray","x":710,"y":720,"wires":[[]]},{"id":"1f781efb.e3ddf1","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":570,"y":1420,"wires":[["39a2c4bb.b82b9c"]]},{"id":"d8822ea4.a40d","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":570,"y":1240,"wires":[["4a5c600a.71922"]]},{"id":"c6feaa22.a39fb8","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":570,"y":1840,"wires":[["5d066217.f46d2c"]]},{"id":"5d4f44a3.96a12c","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":430,"y":560,"wires":[["25518772.ff4a28"]]},{"id":"ab9c65c7.e80438","type":"mongodb2 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"channelmember","operation":"find.toArray","x":710,"y":662.6000061035156,"wires":[["802c82d3.20616","67d067bb.e152e8"]]},{"id":"5d066217.f46d2c","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"deleteOne","x":788.3333053588867,"y":1838.3332843780518,"wires":[["65a8ec4a.bb6e74","1394c1e1.e1cefe"]]},{"id":"ac9ce568.41d328","type":"http in","z":"5807cffb.d10fb","name":"get perticular Partner ","url":"/getPerticularPartner","method":"get","upload":false,"swaggerDoc":"","x":135,"y":1061.6666259765625,"wires":[["10100aa0.5d8bd5"]]},{"id":"a5518364.0595c","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1195,"y":1021.6666259765625,"wires":[]},{"id":"faf76be6.791ae8","type":"http response","z":"5807cffb.d10fb","name":"get partner data ","statusCode":"","headers":{},"x":1235,"y":1121.6666259765625,"wires":[]},{"id":"10100aa0.5d8bd5","type":"function","z":"5807cffb.d10fb","name":"Extract id","func":"msg._id= msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":1061.6666259765625,"wires":[["90f0c0f6.9dea4"]]},{"id":"fbf7d222.25948","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"findOne","x":645,"y":1061.6666259765625,"wires":[["a5518364.0595c","faf76be6.791ae8"]]},{"id":"90f0c0f6.9dea4","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":445,"y":1061.6666259765625,"wires":[["fbf7d222.25948"]]},{"id":"3c70f006.95fd","type":"http in","z":"5807cffb.d10fb","name":"","url":"/usersadd","method":"post","upload":false,"swaggerDoc":"","x":95,"y":3215.666892051697,"wires":[["33c82985.3257c6"]]},{"id":"33c82985.3257c6","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.body = msg.payload.body\nreturn msg;","outputs":1,"noerr":0,"x":287.50000762939453,"y":3216.6665506362915,"wires":[["699bff0d.8db06"]]},{"id":"b0e8bd33.53839","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":803.1667098999023,"y":3208.3333492279053,"wires":[]},{"id":"5f0893eb.26935c","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810.1667098999023,"y":3280.3333492279053,"wires":[]},{"id":"699bff0d.8db06","type":"http request","z":"5807cffb.d10fb","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/createRole","tls":"","proxy":"","authType":"","x":488.50006103515625,"y":3210.3337383270264,"wires":[["5f0893eb.26935c","b0e8bd33.53839"]]},{"id":"8f009e89.8a184","type":"http request","z":"5807cffb.d10fb","name":"","method":"DELETE","ret":"obj","paytoqs":false,"url":"http://localhost:3000/deleteOne","tls":"","proxy":"","authType":"","x":486.50000762939453,"y":3351.666895389557,"wires":[["1b845b5.3fd07a5","687ac4bb.b23b3c"]]},{"id":"3d2a2103.5ac6ee","type":"http in","z":"5807cffb.d10fb","name":"","url":"/deleteOne","method":"delete","upload":false,"swaggerDoc":"","x":107.1666488647461,"y":3351.999708175659,"wires":[["a3ee3223.e5bb3"]]},{"id":"a3ee3223.e5bb3","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.body = msg.payload.body\nreturn msg;","outputs":1,"noerr":0,"x":300.1666564941406,"y":3352.666895866394,"wires":[["8f009e89.8a184"]]},{"id":"1b845b5.3fd07a5","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":825.0000152587891,"y":3333.6668949127197,"wires":[]},{"id":"687ac4bb.b23b3c","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":812.0000114440918,"y":3391.3333024978638,"wires":[]},{"id":"6662df98.b8e49","type":"http in","z":"5807cffb.d10fb","name":"email","url":"/email","method":"post","upload":false,"swaggerDoc":"","x":83,"y":151,"wires":[["6fc78a1a.c05a04"]]},{"id":"6fc78a1a.c05a04","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.topic=\"Message From \"+msg.req.body.firstname;\nfullname=msg.req.body.firstname+\" \"+msg.req.body.lastname;\ncompanyname=msg.req.body.companyname;\nemail=msg.req.body.companyemail;\njobrole=msg.req.body.jobroles;\nindustry=msg.req.body.industryname;\nmobile=msg.req.body.mobilenumber;\nsize=msg.req.body.compsize;\ncountry=msg.req.body.countryname;\nmessage=msg.req.body.message;\n\nmsg.payload=\"Full Name: \"+fullname+\"<br>Company Name: \"+companyname+\"<br>Email: \"+email+\"<br>Role: \"+jobrole+\"<br>Industry: \"+industry+\"<br>Mobile Number: \"+mobile+\"<br>Country: \"+country+\"<br>Company Size: \"+size+\"<br>Feedback: \"+message;\n\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":157.00000190734863,"wires":[["3e898dfb.7728b2","3dff4725.1cac98"]]},{"id":"3e898dfb.7728b2","type":"e-mail","z":"5807cffb.d10fb","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"niteshd30@gmail.com","dname":"","x":615.0000076293945,"y":139.00000190734863,"wires":[]},{"id":"3dff4725.1cac98","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":611.0000076293945,"y":187.00000190734863,"wires":[]},{"id":"4f3b84f.1bf377c","type":"http in","z":"5807cffb.d10fb","name":"delete leads data","url":"/deletedeveloper","method":"delete","upload":false,"swaggerDoc":"","x":162,"y":2253.199951171875,"wires":[["297ced8f.3deac2"]]},{"id":"297ced8f.3deac2","type":"function","z":"5807cffb.d10fb","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":2253.199951171875,"wires":[["60998de7.0b0404"]]},{"id":"e48cdd92.22b05","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1092,"y":2213.199951171875,"wires":[]},{"id":"7720d776.29e278","type":"http response","z":"5807cffb.d10fb","name":"delete lead","statusCode":"","headers":{},"x":1132,"y":2293.199951171875,"wires":[]},{"id":"60998de7.0b0404","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":572,"y":2253.199951171875,"wires":[["3b81ba59.365456"]]},{"id":"3b81ba59.365456","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"deleteOne","x":800.3333053588867,"y":2251.5332355499268,"wires":[["e48cdd92.22b05","7720d776.29e278"]]},{"id":"1257d900.cb77a7","type":"http in","z":"5807cffb.d10fb","name":"login","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":762,"y":3664.39990234375,"wires":[["a0d1bc8b.fd1b3"]]},{"id":"a1589a5d.15bc08","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1472,"y":3704.39990234375,"wires":[]},{"id":"cf4426f8.c737b8","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1472,"y":3624.39990234375,"wires":[]},{"id":"a0d1bc8b.fd1b3","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":1102,"y":3664.39990234375,"wires":[["a1589a5d.15bc08","cf4426f8.c737b8"]]},{"id":"d47e7f51.308a3","type":"http in","z":"5807cffb.d10fb","name":"","url":"/encryption","method":"post","upload":false,"swaggerDoc":"","x":137.00001525878906,"y":2506.8001346588135,"wires":[["219a4212.b2c26e"]]},{"id":"6bb4e95a.598058","type":"change","z":"5807cffb.d10fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":478.00000762939453,"y":2505.799940109253,"wires":[["ea6589ae.8f1978","d2ca0b38.06d5b8"]]},{"id":"a336ec51.9270d","type":"http in","z":"5807cffb.d10fb","name":"","url":"/decrypt","method":"post","upload":false,"swaggerDoc":"","x":152,"y":2612.8000869750977,"wires":[["7e3a6a6b.2e8504"]]},{"id":"c3959e0b.46a38","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1094.0000114440918,"y":2613.7999410629272,"wires":[]},{"id":"7e3a6a6b.2e8504","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.token=msg.req.body.access_token;\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":361.00000381469727,"y":2615.7999410629272,"wires":[["c3617bcf.084568"]]},{"id":"a39b7964.b436e8","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.payload=msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":820.0000076293945,"y":2615.7999410629272,"wires":[["c3959e0b.46a38"]]},{"id":"edd86805.210028","type":"http in","z":"5807cffb.d10fb","name":"","url":"/logins","method":"get","upload":false,"swaggerDoc":"","x":135.20000457763672,"y":2699.9999418258667,"wires":[["d43f2e3b.0e3b3"]]},{"id":"4d8ae7b1.97d958","type":"http in","z":"5807cffb.d10fb","name":"","url":"/logins","method":"post","upload":false,"swaggerDoc":"","x":130.20001220703125,"y":2791.9999446868896,"wires":[["e6364f26.8560a"]]},{"id":"ffb108c6.f751a8","type":"http in","z":"5807cffb.d10fb","name":"","url":"/protected","method":"get","upload":false,"swaggerDoc":"","x":138.20001220703125,"y":2882.999945163727,"wires":[["34002f6e.ae273"]]},{"id":"53bee9ab.403468","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"user","operation":"insert","x":877.6000137329102,"y":2988.000337600708,"wires":[["72900966.2ec528","3855c3a2.a42a0c"]]},{"id":"3855c3a2.a42a0c","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1153.6000137329102,"y":3009.0001430511475,"wires":[]},{"id":"e6364f26.8560a","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"user","operation":"findOne","x":579.6000518798828,"y":2789.9999437332153,"wires":[["70d277c.7219b88"]]},{"id":"70d277c.7219b88","type":"change","z":"5807cffb.d10fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":864.6000137329102,"y":2786.9999437332153,"wires":[["491bda25.861134"]]},{"id":"491bda25.861134","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1076.6000137329102,"y":2783.9999446868896,"wires":[]},{"id":"34002f6e.ae273","type":"function","z":"5807cffb.d10fb","name":"","func":"if (msg.payload.token) {  \n   msg.token = msg.payload.token;\n   node.send(msg);\n} else {\n   msg.statusCode = 403;\n   node.send([null, msg]);\n}","outputs":2,"noerr":0,"x":362.6000061035156,"y":2879.9999446868896,"wires":[["14085676.a126ba"],[]]},{"id":"c22bd62f.b588c8","type":"change","z":"5807cffb.d10fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":853.6000595092773,"y":2867.9999446868896,"wires":[["6025d724.08c1c8"]]},{"id":"6025d724.08c1c8","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1092.6000137329102,"y":2864.9999446868896,"wires":[]},{"id":"d43f2e3b.0e3b3","type":"template","z":"5807cffb.d10fb","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n   <head>\n   </head>\n   <body>\n      <form action=\"/process_login\" method=\"POST\">\n         <label for=\"username\">Login</label>\n         <input name=\"username\" type=\"text\" />\n         <br />\n         <label for=\"password\">Password</label>\n         <input name=\"password\" type=\"password\" />\n         <br />\n         <input type=\"submit\" />\n      </form>\n   </body>\n</html>  ","output":"str","x":555.6000061035156,"y":2703.999942779541,"wires":[["dc7814f0.029c58"]]},{"id":"dc7814f0.029c58","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1051.6000137329102,"y":2695.999942779541,"wires":[]},{"id":"ab613281.3965","type":"change","z":"5807cffb.d10fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":452.6000061035156,"y":3053.0001916885376,"wires":[["1c8e5f44.6245f1"]]},{"id":"72900966.2ec528","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1131.6000137329102,"y":2965.000141143799,"wires":[]},{"id":"7f70c934.080a58","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.payload=msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":779.6000595092773,"y":3101.600143432617,"wires":[["4e62fc73.9175d4","864dde15.4acbc"]]},{"id":"4e62fc73.9175d4","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120.6000137329102,"y":3114.600143432617,"wires":[]},{"id":"864dde15.4acbc","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1088.6000137329102,"y":3056.600143432617,"wires":[]},{"id":"1c8e5f44.6245f1","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.token=msg.req.body.access_token;\nreturn msg;","outputs":1,"noerr":0,"x":433.6000061035156,"y":3097.199996948242,"wires":[["834268b5.2ca2d8"]]},{"id":"66573346.24e91c","type":"http in","z":"5807cffb.d10fb","name":"","url":"/protecteds","method":"post","upload":false,"swaggerDoc":"","x":95,"y":3040.5999965667725,"wires":[["9d5ba73e.fe42c8"]]},{"id":"b894b59e.98a6c8","type":"inject","z":"5807cffb.d10fb","name":"","topic":"","payload":"{ \"username\": \"admin\", \"password\": \"secret\", \"firstName\": \"John\", \"lastName\": \"O'Connor\", \"email\": \"johnwoconnor@compose.io\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":615.6000366210938,"y":2994.199951171875,"wires":[["53bee9ab.403468"]]},{"id":"ea6589ae.8f1978","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":845,"y":2542.39990234375,"wires":[]},{"id":"d2ca0b38.06d5b8","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":789,"y":2459,"wires":[]},{"id":"219a4212.b2c26e","type":"JsonWebToken","z":"5807cffb.d10fb","name":"Token","tokenconfig":"859239ea.3a8878","x":305.00000762939453,"y":2509.7999391555786,"wires":[["6bb4e95a.598058"]]},{"id":"c3617bcf.084568","type":"JsonWebToken","z":"5807cffb.d10fb","name":"Token","tokenconfig":"859239ea.3a8878","x":576.0000076293945,"y":2618.7999410629272,"wires":[["a39b7964.b436e8"]]},{"id":"14085676.a126ba","type":"JsonWebToken","z":"5807cffb.d10fb","name":"decrypt","tokenconfig":"859239ea.3a8878","x":572.6000061035156,"y":2873.9999446868896,"wires":[["c22bd62f.b588c8"]]},{"id":"9d5ba73e.fe42c8","type":"JsonWebToken","z":"5807cffb.d10fb","name":"token","tokenconfig":"859239ea.3a8878","x":266.60000228881836,"y":3058.2003870010376,"wires":[["ab613281.3965"]]},{"id":"834268b5.2ca2d8","type":"JsonWebToken","z":"5807cffb.d10fb","name":"decrypt","tokenconfig":"859239ea.3a8878","x":605.6000099182129,"y":3102.6001443862915,"wires":[["7f70c934.080a58"]]},{"id":"34ef16b.edbf6ea","type":"http in","z":"e381a433.b887f8","name":"","url":"/RequsetAccess","method":"post","upload":false,"swaggerDoc":"","x":118,"y":156,"wires":[["721e8581.88d05c"]]},{"id":"b12d5a82.b29f58","type":"debug","z":"e381a433.b887f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1077,"y":275,"wires":[]},{"id":"721e8581.88d05c","type":"function","z":"e381a433.b887f8","name":"Prepared data","func":"msg.user = msg.payload.user;\nmsg.company = msg.payload.company;\nmsg.address = msg.payload.address;\nmsg.payload = {\n    email: msg.user.email\n};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":163,"y":236,"wires":[["2c6b5fa2.5c9e"]]},{"id":"b5355eec.588b7","type":"function","z":"e381a433.b887f8","name":"User Template","func":"userTemplate = {\n\tfirstname :'',\n\tlastname :'',\n\ttype :'P',\n\tusername :'',\n\temail :'',\n\tphone :'',\n\tpassword :'',\n\tpresent_address :'',\n\tpermanent_address :'',\n\thasCertificate : 0,\n\thasVerified : 0,\n\tdesignation :'',\n\tposition :'',\n\texperience :'',\n\tjoined :'',\n\tcreated : new Date(),\n\tstatus :'A'\n}\n\nmsg.payload = {...userTemplate, ...msg.user};\n\nreturn msg;","outputs":1,"noerr":0,"x":403,"y":149,"wires":[["4011310f.35028"]]},{"id":"4011310f.35028","type":"mongodb3 in","z":"e381a433.b887f8","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Users","operation":"save","x":463.5,"y":251,"wires":[["8f2ec49a.4bfea8","f35600b5.43ce5"]]},{"id":"83d202ee.685d1","type":"function","z":"e381a433.b887f8","name":"Address Template","func":"addressTemplate={\n    userId: '',\n    address_line_1:'',\n\taddress_line_2:'',\n\tstreet:'',\n\tlocality:'',\n\tstate:'',\n\tcountry:'',\n\tzipcode:'',\n};\nmsg.userId = {userId : msg.payload.ops[0]._id };\ndelete msg.payload;\nmsg.payload = {...addressTemplate, ...msg.address,...msg.userId};\nreturn msg;","outputs":1,"noerr":0,"x":919.0000076293945,"y":31.000001907348633,"wires":[[]]},{"id":"8f2ec49a.4bfea8","type":"function","z":"e381a433.b887f8","name":"Company Template","func":"companyTemplate = {\n\tuserId: '',\n\tname: '',\n\twebsite: '',\n\tindustry: '',\n\tsize: '',\n\tcountry:'',\n\tregistered: new Date(),\n}\nuserId = {userId : msg.payload.ops[0]._id };\ndelete msg.payload;\nmsg.payload = {...companyTemplate, ...msg.company,...userId};\nreturn msg;","outputs":1,"noerr":0,"x":492,"y":356,"wires":[["f97913eb.122e7"]]},{"id":"f97913eb.122e7","type":"mongodb3 in","z":"e381a433.b887f8","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"company","operation":"save","x":785.5,"y":334,"wires":[["b12d5a82.b29f58","50a353a9.0dc7ac"]]},{"id":"2880d2be.85fcde","type":"mongodb3 in","z":"e381a433.b887f8","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"address","operation":"save","x":936.5000152587891,"y":75.00000309944153,"wires":[[]]},{"id":"ac0cf6fc.3eb1b8","type":"http response","z":"e381a433.b887f8","name":"","statusCode":"","headers":{},"x":1132,"y":438,"wires":[]},{"id":"50a353a9.0dc7ac","type":"function","z":"e381a433.b887f8","name":"Response","func":"if(msg.payload.result.n && msg.payload.result.ok){\n    msg.payload = { status:'success',message:'Thank you for contact us'};\n}else{\n    msg.payload = { status:'error',message:'Something went wrong!'};\n}\nreturn msg;","outputs":1,"noerr":0,"x":981,"y":398,"wires":[["ac0cf6fc.3eb1b8"]]},{"id":"2c6b5fa2.5c9e","type":"mongodb3 in","z":"e381a433.b887f8","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Users","operation":"findOne","x":164,"y":317,"wires":[["f6433115.1fc3b"]]},{"id":"f6433115.1fc3b","type":"switch","z":"e381a433.b887f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":294,"y":475,"wires":[["b5355eec.588b7"],["4522c53e.d06a7c"]]},{"id":"4522c53e.d06a7c","type":"function","z":"e381a433.b887f8","name":"Response","func":"msg.payload = { status:'Error',message:'Email Already Exists'};\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":453,"wires":[["9e1d525b.5be25"]]},{"id":"9e1d525b.5be25","type":"http response","z":"e381a433.b887f8","name":"","statusCode":"","headers":{},"x":711,"y":446,"wires":[]},{"id":"f35600b5.43ce5","type":"debug","z":"e381a433.b887f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810.6000366210938,"y":233,"wires":[]},{"id":"7966c148.8faf","type":"http in","z":"e381a433.b887f8","name":"","url":"/authenticate","method":"post","upload":false,"swaggerDoc":"","x":132.6000270843506,"y":810.9999904632568,"wires":[["299a9074.9c626","9deb74f9.f4e1e8"]]},{"id":"9deb74f9.f4e1e8","type":"mongodb3 in","z":"e381a433.b887f8","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Users","operation":"findOne","x":468.6001262664795,"y":733.9999990463257,"wires":[["d511d4c7.b12bf8"]]},{"id":"ec9af742.1407f8","type":"debug","z":"e381a433.b887f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1028.6000518798828,"y":933.0000200271606,"wires":[]},{"id":"70b5cf35.60a45","type":"http response","z":"e381a433.b887f8","name":"","statusCode":"","headers":{},"x":1050.6000366210938,"y":759,"wires":[]},{"id":"31c60f91.0c59b","type":"function","z":"e381a433.b887f8","name":"Valid User","func":"msg.payload = {\n    status: msg.result.status,\n    message: msg.result.message,\n    data: msg.result.data,\n    token: msg.token\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":943.6001052856445,"y":847.0000190734863,"wires":[["70b5cf35.60a45","ec9af742.1407f8"]]},{"id":"299a9074.9c626","type":"debug","z":"e381a433.b887f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":424.6000270843506,"y":917,"wires":[]},{"id":"d511d4c7.b12bf8","type":"switch","z":"e381a433.b887f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":673.6000804901123,"y":786.9999980926514,"wires":[["404a0b42.aa2984"],["5ab7c99f.a07328"]]},{"id":"404a0b42.aa2984","type":"function","z":"e381a433.b887f8","name":"Invalid User","func":"msg.payload = {\n    status: \"error\",\n    message: 'Incorrect user credentials',\n}\nreturn msg;","outputs":1,"noerr":0,"x":847.6000804901123,"y":715.9999980926514,"wires":[["70b5cf35.60a45"]]},{"id":"34e2521c.9e655e","type":"JsonWebToken","z":"e381a433.b887f8","name":"token","tokenconfig":"859239ea.3a8878","x":803.666618347168,"y":934.8889083862305,"wires":[["31c60f91.0c59b"]]},{"id":"5ab7c99f.a07328","type":"function","z":"e381a433.b887f8","name":"Pass Id to token","func":"msg.result = {\n    status: 'success',\n    message: 'Login Successful',\n    data: msg.payload\n}\n\nmsg.payload = {id : msg.payload._id }\nreturn msg;","outputs":1,"noerr":0,"x":695.6666717529297,"y":872.4444642066956,"wires":[["34e2521c.9e655e"]]}]