flows/user-data/nr-flows.json
[{"id":"5807cffb.d10fb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8682e203.b2dea","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/AngularUserDetails","name":"db","options":"","parallelism":"-1"},{"id":"9b2b08c9.cd5148","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/AngularUserDetails","name":"mongodb ","options":"","parallelism":"-1"},{"id":"fda4061a.9b1778","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":40,"wires":[]},{"id":"da6433e0.18771","type":"http in","z":"5807cffb.d10fb","name":"save partner data","url":"/addpartnerdata","method":"post","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["e82590c4.f26d8"]]},{"id":"37e97de6.f587d2","type":"http response","z":"5807cffb.d10fb","name":"addpartner","statusCode":"","headers":{},"x":1010,"y":140,"wires":[]},{"id":"fdeeb12f.a6f94","type":"http in","z":"5807cffb.d10fb","name":"Login Partner ","url":"/Loginpartner","method":"get","upload":false,"swaggerDoc":"","x":90,"y":240,"wires":[["754c23f4.ef985c"]]},{"id":"691957ac.068928","type":"http response","z":"5807cffb.d10fb","name":"partner data","statusCode":"","headers":{},"x":1190,"y":300,"wires":[]},{"id":"b8eb299e.0ba448","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":240,"wires":[]},{"id":"ba6fcd49.dafe7","type":"comment","z":"5807cffb.d10fb","name":"database collection information","info":"The collection is named LicensePlate. \nEach document format is :\n```JavaScript\n{\n    \"_id\": ObjectID(\"585a4732ac11400192a60b85\"),\n    \"nom\": \"riotte\",\n    \"prenom\": \"françois\",\n    \"immatriculation\": \"123456\",\n    \"heure\": \"13\",\n    \"minute\": \"30\"\n}\n```","x":1850,"y":1560,"wires":[]},{"id":"d6f285db.9d7a38","type":"http in","z":"5807cffb.d10fb","name":"partner list","url":"/getpartnerdata","method":"get","upload":false,"swaggerDoc":"","x":80,"y":380,"wires":[["c4adf6a1.f30ac8"]]},{"id":"7742d247.415d0c","type":"http response","z":"5807cffb.d10fb","name":"partner data","statusCode":"","headers":{},"x":1190,"y":440,"wires":[]},{"id":"e334b285.2637","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":380,"wires":[]},{"id":"840b58d4.ed3bd8","type":"http in","z":"5807cffb.d10fb","name":"get leads data","url":"/getleadsdata","method":"get","upload":false,"swaggerDoc":"","x":150,"y":2000,"wires":[["bf842767.d66cb8"]]},{"id":"87308780.332618","type":"http in","z":"5807cffb.d10fb","name":"delete partner data","url":"/deletepartner","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":1420,"wires":[["e5c903cd.fff2b"]]},{"id":"e5c903cd.fff2b","type":"function","z":"5807cffb.d10fb","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1420,"wires":[["1f781efb.e3ddf1"]]},{"id":"7ba20f02.ab3cc","type":"http response","z":"5807cffb.d10fb","name":"delete partner","statusCode":"","headers":{},"x":1120,"y":1480,"wires":[]},{"id":"a65457c9.032698","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1380,"wires":[]},{"id":"8074e43f.83fc48","type":"http in","z":"5807cffb.d10fb","name":"delete channel members","url":"/deletechanneM","method":"delete","upload":false,"swaggerDoc":"","x":190,"y":1240,"wires":[["ac8c85a.c608678"]]},{"id":"ac8c85a.c608678","type":"function","z":"5807cffb.d10fb","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1240,"wires":[["d8822ea4.a40d"]]},{"id":"96039e88.fc1f2","type":"http response","z":"5807cffb.d10fb","name":"delete channel","statusCode":"","headers":{},"x":1120,"y":1280,"wires":[]},{"id":"1f0d9587.84fcda","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1200,"wires":[]},{"id":"a62657e7.48eb28","type":"http in","z":"5807cffb.d10fb","name":"save leads data","url":"/saveleadsdata","method":"post","upload":false,"swaggerDoc":"","x":160,"y":1580,"wires":[["75c4c537.b9fbec"]]},{"id":"d6f8eedf.cfe71","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":1540,"wires":[]},{"id":"38abbc91.b1d024","type":"http response","z":"5807cffb.d10fb","name":"leads data","statusCode":"","headers":{},"x":1130,"y":1620,"wires":[]},{"id":"6ea419f.0d056e8","type":"http in","z":"5807cffb.d10fb","name":"save developers data ","url":"/savedevelopers","method":"post","upload":false,"swaggerDoc":"","x":180,"y":1700,"wires":[["edb29941.cdd9f8"]]},{"id":"fafc979c.b8ccf8","type":"http response","z":"5807cffb.d10fb","name":"developers data","statusCode":"","headers":{},"x":1160,"y":1740,"wires":[]},{"id":"fd7a2402.db9e38","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":1680,"wires":[]},{"id":"47e3c481.8305fc","type":"http in","z":"5807cffb.d10fb","name":"delete leads data","url":"/deleteleads","method":"delete","upload":false,"swaggerDoc":"","x":160,"y":1840,"wires":[["90284a55.d3c6c8"]]},{"id":"90284a55.d3c6c8","type":"function","z":"5807cffb.d10fb","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1840,"wires":[["c6feaa22.a39fb8"]]},{"id":"65a8ec4a.bb6e74","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1800,"wires":[]},{"id":"1394c1e1.e1cefe","type":"http response","z":"5807cffb.d10fb","name":"delete lead","statusCode":"","headers":{},"x":1130,"y":1880,"wires":[]},{"id":"1fda18d4.ac42a7","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":1960,"wires":[]},{"id":"9666b06c.db59","type":"http response","z":"5807cffb.d10fb","name":"get leads","statusCode":"","headers":{},"x":1140,"y":2040,"wires":[]},{"id":"6270f00b.317bf","type":"http in","z":"5807cffb.d10fb","name":"get developers data ","url":"/getdevelopers","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2120,"wires":[["f15f85b1.88ad48"]]},{"id":"180e5f17.2ab7e1","type":"http response","z":"5807cffb.d10fb","name":"developers data","statusCode":"","headers":{},"x":1160,"y":2160,"wires":[]},{"id":"805045f4.dd5f58","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":2100,"wires":[]},{"id":"1250a1a2.6799fe","type":"http response","z":"5807cffb.d10fb","name":"channel data","statusCode":"","headers":{},"x":1130,"y":920,"wires":[]},{"id":"ed7bf347.c5f6f","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":840,"wires":[]},{"id":"7f420d01.52fe84","type":"http in","z":"5807cffb.d10fb","name":"Save channel data","url":"/channeldata","method":"post","upload":false,"swaggerDoc":"","x":90,"y":860,"wires":[["f0ea7ec5.b6a88"]]},{"id":"5fb192fd.95dc0c","type":"http in","z":"5807cffb.d10fb","name":"get perticular Partner ","url":"/getPerticularPartner","method":"get","upload":false,"swaggerDoc":"","x":120,"y":560,"wires":[["9a48d842.993d28"]]},{"id":"cfc1c15b.f5df1","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":520,"wires":[]},{"id":"dcb16bea.48ab18","type":"http response","z":"5807cffb.d10fb","name":"get partner data ","statusCode":"","headers":{},"x":1220,"y":620,"wires":[]},{"id":"9a48d842.993d28","type":"function","z":"5807cffb.d10fb","name":"Extract id","func":"msg._id= msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":560,"wires":[["5d4f44a3.96a12c"]]},{"id":"3a5829dc.b5af66","type":"http in","z":"5807cffb.d10fb","name":"Login member","url":"/LoginMember","method":"get","upload":false,"swaggerDoc":"","x":90,"y":720,"wires":[["ab9c65c7.e80438"]]},{"id":"802c82d3.20616","type":"http response","z":"5807cffb.d10fb","name":"partner data","statusCode":"","headers":{},"x":1190,"y":780,"wires":[]},{"id":"67d067bb.e152e8","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":720,"wires":[]},{"id":"39a2c4bb.b82b9c","type":"mongodb2 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"deleteOne","x":750,"y":1420,"wires":[["7ba20f02.ab3cc","a65457c9.032698"]]},{"id":"4a5c600a.71922","type":"mongodb2 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"ChannelMember","operation":"deleteOne","x":790,"y":1240,"wires":[["96039e88.fc1f2","1f0d9587.84fcda"]]},{"id":"e82590c4.f26d8","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"save","x":560,"y":60,"wires":[["fda4061a.9b1778","37e97de6.f587d2"]]},{"id":"754c23f4.ef985c","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":680,"y":240,"wires":[["b8eb299e.0ba448","691957ac.068928"]]},{"id":"c4adf6a1.f30ac8","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":680,"y":380,"wires":[["e334b285.2637","7742d247.415d0c"]]},{"id":"75c4c537.b9fbec","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"save","x":680,"y":1580,"wires":[["d6f8eedf.cfe71","38abbc91.b1d024"]]},{"id":"edb29941.cdd9f8","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"save","x":650,"y":1700,"wires":[["fd7a2402.db9e38","fafc979c.b8ccf8"]]},{"id":"bf842767.d66cb8","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"find.toArray","x":640,"y":2000,"wires":[["1fda18d4.ac42a7","9666b06c.db59"]]},{"id":"f15f85b1.88ad48","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"find.toArray","x":670,"y":2120,"wires":[["805045f4.dd5f58","180e5f17.2ab7e1"]]},{"id":"f0ea7ec5.b6a88","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"ChannelMember","operation":"save","x":510,"y":860,"wires":[["ed7bf347.c5f6f","1250a1a2.6799fe"]]},{"id":"25518772.ff4a28","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"findOne","x":630,"y":560,"wires":[["cfc1c15b.f5df1","dcb16bea.48ab18"]]},{"id":"bf9daeb1.02d2c","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"channelmember ","operation":"find.toArray","x":710,"y":720,"wires":[[]]},{"id":"1f781efb.e3ddf1","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":570,"y":1420,"wires":[["39a2c4bb.b82b9c"]]},{"id":"d8822ea4.a40d","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":570,"y":1240,"wires":[["4a5c600a.71922"]]},{"id":"c6feaa22.a39fb8","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":570,"y":1840,"wires":[["5d066217.f46d2c"]]},{"id":"5d4f44a3.96a12c","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":430,"y":560,"wires":[["25518772.ff4a28"]]},{"id":"ab9c65c7.e80438","type":"mongodb2 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"channelmember","operation":"find.toArray","x":710,"y":662.6000061035156,"wires":[["802c82d3.20616","67d067bb.e152e8"]]},{"id":"5d066217.f46d2c","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Leads","operation":"deleteOne","x":788.3333053588867,"y":1838.3332843780518,"wires":[["65a8ec4a.bb6e74","1394c1e1.e1cefe"]]},{"id":"ac9ce568.41d328","type":"http in","z":"5807cffb.d10fb","name":"get perticular Partner ","url":"/getPerticularPartner","method":"get","upload":false,"swaggerDoc":"","x":135,"y":1061.6666259765625,"wires":[["10100aa0.5d8bd5"]]},{"id":"a5518364.0595c","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1195,"y":1021.6666259765625,"wires":[]},{"id":"faf76be6.791ae8","type":"http response","z":"5807cffb.d10fb","name":"get partner data ","statusCode":"","headers":{},"x":1235,"y":1121.6666259765625,"wires":[]},{"id":"10100aa0.5d8bd5","type":"function","z":"5807cffb.d10fb","name":"Extract id","func":"msg._id= msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":1061.6666259765625,"wires":[["90f0c0f6.9dea4"]]},{"id":"fbf7d222.25948","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"findOne","x":645,"y":1061.6666259765625,"wires":[["a5518364.0595c","faf76be6.791ae8"]]},{"id":"90f0c0f6.9dea4","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":445,"y":1061.6666259765625,"wires":[["fbf7d222.25948"]]},{"id":"9a36a6b7.6edf58","type":"http in","z":"5807cffb.d10fb","name":"login","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":385,"y":3911.666666666667,"wires":[["5cb8fd84.9a6454"]]},{"id":"73498aa2.8f4ed4","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1095,"y":3951.666666666667,"wires":[]},{"id":"4c68834a.e34f6c","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1095,"y":3871.666666666667,"wires":[]},{"id":"acdf0b28.4f5b88","type":"http in","z":"5807cffb.d10fb","name":"","url":"/process_login","method":"post","upload":false,"swaggerDoc":"","x":415,"y":4031.666666666667,"wires":[[]]},{"id":"a7411890.468008","type":"http in","z":"5807cffb.d10fb","name":"","url":"/update","method":"put","upload":false,"swaggerDoc":"","x":1245,"y":4331.666666666667,"wires":[["c3f1aecf.84ce"]]},{"id":"920c1b33.920ed8","type":"http response","z":"5807cffb.d10fb","name":"","x":2755,"y":4271.666666666667,"wires":[]},{"id":"3659b806.f2e8b8","type":"function","z":"5807cffb.d10fb","name":"update request","func":"\nmsg.result=msg.req.body;\ndelete msg.req.body._id;\nmsg.payload=[\n   msg.payload,\n   msg.req.body\n    ];\nreturn msg;\n\n","outputs":"1","noerr":0,"x":1945,"y":4271.666666666667,"wires":[["c66d77c2.6ac0f8"]]},{"id":"c3f1aecf.84ce","type":"function","z":"5807cffb.d10fb","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":1475,"y":4311.666666666667,"wires":[["94cc0e1c.9ec63"]]},{"id":"c81b2c7b.9e657","type":"http in","z":"5807cffb.d10fb","name":"","url":"/plates","method":"get","swaggerDoc":"","x":1265,"y":4231.666666666667,"wires":[["1993fd37.954893"]]},{"id":"dd73e1ad.5559d","type":"http response","z":"5807cffb.d10fb","name":"","x":2355,"y":4151.666666666667,"wires":[]},{"id":"4c27c8b3.51f7f8","type":"function","z":"5807cffb.d10fb","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":2515,"y":4191.666666666667,"wires":[["920c1b33.920ed8","71aafe80.aa5ca"]]},{"id":"875f582c.8f13b8","type":"http response","z":"5807cffb.d10fb","name":"","x":2495,"y":4351.666666666667,"wires":[]},{"id":"9a3728a3.058418","type":"http in","z":"5807cffb.d10fb","name":"","url":"/insert","method":"post","swaggerDoc":"","x":1245,"y":4391.666666666667,"wires":[["e3a79192.3b6b7"]]},{"id":"ba1382e.86eb28","type":"function","z":"5807cffb.d10fb","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":2215,"y":4371.666666666667,"wires":[["875f582c.8f13b8"]]},{"id":"21093562.1dd10a","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2815,"y":4131.666666666667,"wires":[]},{"id":"e3a79192.3b6b7","type":"json","z":"5807cffb.d10fb","name":"","property":"payload","action":"obj","pretty":false,"x":1595,"y":4371.666666666667,"wires":[["5b2e4a7e.714ae4"]]},{"id":"d2037421.895ff8","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2475,"y":4271.666666666667,"wires":[]},{"id":"71aafe80.aa5ca","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2775,"y":4171.666666666667,"wires":[]},{"id":"f36e2ca1.9c816","type":"mongodb2 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"LicencePlate","operation":"update","x":2215,"y":4251.666666666667,"wires":[[]]},{"id":"1993fd37.954893","type":"mongodb2 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"find.toArray","x":1805,"y":4171.666666666667,"wires":[["21093562.1dd10a","dd73e1ad.5559d"]]},{"id":"7c5bb92d.cfdfc8","type":"mongodb2 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"user","operation":"insert","x":1945,"y":4351.666666666667,"wires":[["ba1382e.86eb28"]]},{"id":"5b2e4a7e.714ae4","type":"mongodb2 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"save","x":1805,"y":4311.666666666667,"wires":[["875f582c.8f13b8","d2037421.895ff8"]]},{"id":"c66d77c2.6ac0f8","type":"mongodb2 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"8682e203.b2dea","name":"","collection":"users","operation":"update","x":2205,"y":4191.666666666667,"wires":[["4c27c8b3.51f7f8"]]},{"id":"5cb8fd84.9a6454","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"users","operation":"find.toArray","x":725,"y":3911.666666666667,"wires":[["73498aa2.8f4ed4","4c68834a.e34f6c"]]},{"id":"94cc0e1c.9ec63","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":1655,"y":4271.666666666667,"wires":[["3659b806.f2e8b8"]]},{"id":"386871e1.01644e","type":"http in","z":"5807cffb.d10fb","name":"","url":"/usersadd","method":"post","upload":false,"swaggerDoc":"","x":465.8333333333335,"y":4633.333333333333,"wires":[["c26960dd.d8299"]]},{"id":"c26960dd.d8299","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.body = msg.payload.body\nreturn msg;","outputs":1,"noerr":0,"x":572.5000076293945,"y":4703.333211580913,"wires":[["2a840d0e.e102b2"]]},{"id":"ce72ac69.190e1","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":959.1666666666665,"y":4730,"wires":[]},{"id":"63f334e0.6e096c","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":934.1666666666665,"y":4600,"wires":[]},{"id":"2a840d0e.e102b2","type":"http request","z":"5807cffb.d10fb","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:3000/createRole","tls":"","proxy":"","authType":"","x":757.5000228881836,"y":4700.000118891398,"wires":[["63f334e0.6e096c","ce72ac69.190e1"]]},{"id":"adadf9ca.081b58","type":"http request","z":"5807cffb.d10fb","name":"","method":"DELETE","ret":"obj","paytoqs":false,"url":"http://localhost:3000/deleteOne","tls":"","proxy":"","authType":"","x":887.4999847412109,"y":4923.333466211955,"wires":[["27facb71.4f4fc4","68fd1541.ab1a9c"]]},{"id":"4257318b.bab6b","type":"http in","z":"5807cffb.d10fb","name":"","url":"/deleteOne","method":"delete","upload":false,"swaggerDoc":"","x":469.1666564941406,"y":4926.666474024455,"wires":[["dd961064.fbc98"]]},{"id":"dd961064.fbc98","type":"function","z":"5807cffb.d10fb","name":"","func":"msg.body = msg.payload.body\nreturn msg;","outputs":1,"noerr":0,"x":684.1666641235352,"y":4928.333304087321,"wires":[["adadf9ca.081b58"]]},{"id":"27facb71.4f4fc4","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":4878.333333333333,"wires":[]},{"id":"68fd1541.ab1a9c","type":"http response","z":"5807cffb.d10fb","name":"","statusCode":"","headers":{},"x":1150,"y":4980,"wires":[]},{"id":"3661a418.1c97cc","type":"http in","z":"5807cffb.d10fb","name":"delete developer","url":"/deletedeveloper","method":"delete","upload":false,"swaggerDoc":"","x":168.3333282470703,"y":2291.66650390625,"wires":[["57f8d334.4a504c"]]},{"id":"57f8d334.4a504c","type":"function","z":"5807cffb.d10fb","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":398.3333282470703,"y":2291.66650390625,"wires":[["1d44b0b1.8d98ef"]]},{"id":"d49bada.94b085","type":"debug","z":"5807cffb.d10fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1098.3333282470703,"y":2251.66650390625,"wires":[]},{"id":"48584626.89acd8","type":"http response","z":"5807cffb.d10fb","name":"delete lead","statusCode":"","headers":{},"x":1138.3333282470703,"y":2331.66650390625,"wires":[]},{"id":"1d44b0b1.8d98ef","type":"objectid","z":"5807cffb.d10fb","name":"","selectedProperty":"_id","x":578.3333282470703,"y":2291.66650390625,"wires":[["f9ca2159.b4306"]]},{"id":"f9ca2159.b4306","type":"mongodb3 in","z":"5807cffb.d10fb","service":"_ext_","configNode":"9b2b08c9.cd5148","name":"","collection":"Developer","operation":"deleteOne","x":806.666633605957,"y":2289.9997882843018,"wires":[["d49bada.94b085","48584626.89acd8"]]}]